<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Exceptional Concepts</title>
    <link rel="shortcut icon" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#1C3557">
    <meta name="msapplication-navbutton-color" content="#1C3557">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1C3557">
</head>

<body id="main">
${require('../parts/header.html')}
<main class="main">
    <div class="page-top">
        <div class="container">
            <div class="breadcrumbs-wrapper">
                <div class="breadcrumbs">
                    <a href="javascript:void(0)">Home</a>
                    <span>About us</span>
                </div>
            </div>
            <h1 class="page-title">About us</h1>
        </div>
    </div>
    <div class="about-page">
        <div class="container">
            ergef
        </div>
    </div>
</main>
${require('../parts/footer.html')}
<div class="mfp-hide">
</div>

</body>

</html>
