<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Exceptional Concepts</title>
    <link rel="shortcut icon" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#1C3557">
    <meta name="msapplication-navbutton-color" content="#1C3557">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1C3557">
</head>

<body id="main">
  ${require('../parts/header.html')}
  <main class="main">
      <div class="page-top">
          <div class="container">
              <div class="breadcrumbs">
                  <a href="javascript:void(0)">Home</a>
                  <span>Blog</span>
              </div>
              <h1 class="page-title">Blog</h1>
          </div>
      </div>
      <div class="blog-main">
          <div class="container">
              <div class="row blog-main__wrapper">
                  <div class="col-lg-9">
                      <div class="row blog-main__items">
                          <div class="col-xs-12 hidden-lg hidden-md visible-sm visible-xs">
                              <div class="blog-mob__filters">
                                  <div class="blog-mob__filters-main">
                                      <span>Blog categories:</span>All categories
                                      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M11.6438 16.3035L16.57 11.3774C16.7536 11.1937 16.9699 11.1019 17.2188 11.1019C17.4677 11.1019 17.6835 11.1937 17.8663 11.3774C18.05 11.561 18.1418 11.7773 18.1418 12.0262C18.1418 12.2751 18.05 12.4909 17.8663 12.6737L11.3845 19.1555C11.2009 19.3392 10.9846 19.431 10.7357 19.431C10.4868 19.431 10.2709 19.3392 10.0881 19.1555L3.60633 12.6737C3.42268 12.4901 3.33086 12.2738 3.33086 12.0249C3.33086 11.776 3.42268 11.5601 3.60634 11.3774C3.78999 11.1937 4.00626 11.1019 4.25516 11.1019C4.50407 11.1019 4.71991 11.1937 4.9027 11.3774L9.82887 16.3035L9.82887 4.7659C9.82887 4.52824 9.9207 4.31758 10.1044 4.13392C10.288 3.95027 10.4987 3.85845 10.7363 3.85845C10.974 3.85845 11.1847 3.95027 11.3683 4.13392C11.552 4.31758 11.6438 4.52824 11.6438 4.7659L11.6438 16.3035Z" fill="#1C3557"/>
                                      </svg>
                                  </div>
                                  <div class="blog-mob__filters-list">
                                      <ul>
                                          <li>
                                      <span>
                                          <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.5 0L5.71541 3.28459L9 4.5L5.71541 5.71541L4.5 9L3.28459 5.71541L0 4.5L3.28459 3.28459L4.5 0Z" fill="#FEB634FF"></path>
                                          </svg>
                                          All categories
                                      </span>
                                          </li>
                                          <li>
                                              <a href="javascript:void(0)">
                                                  <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M4.5 0L5.71541 3.28459L9 4.5L5.71541 5.71541L4.5 9L3.28459 5.71541L0 4.5L3.28459 3.28459L4.5 0Z" fill="#fff"></path>
                                                  </svg>
                                                  Novelties
                                              </a>
                                          </li>
                                          <li>
                                              <a href="javascript:void(0)">
                                                  <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M4.5 0L5.71541 3.28459L9 4.5L5.71541 5.71541L4.5 9L3.28459 5.71541L0 4.5L3.28459 3.28459L4.5 0Z" fill="#fff"></path>
                                                  </svg>
                                                  Hot summer
                                              </a>
                                          </li>
                                          <li>
                                              <a href="javascript:void(0)">
                                                  <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M4.5 0L5.71541 3.28459L9 4.5L5.71541 5.71541L4.5 9L3.28459 5.71541L0 4.5L3.28459 3.28459L4.5 0Z" fill="#fff"></path>
                                                  </svg>
                                                  Bright adventures
                                              </a>
                                          </li>
                                          <li>
                                              <a href="javascript:void(0)">
                                                  <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M4.5 0L5.71541 3.28459L9 4.5L5.71541 5.71541L4.5 9L3.28459 5.71541L0 4.5L3.28459 3.28459L4.5 0Z" fill="#fff"></path>
                                                  </svg>
                                                  Swimming season
                                              </a>
                                          </li>
                                          <li>
                                              <a href="javascript:void(0)">
                                                  <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M4.5 0L5.71541 3.28459L9 4.5L5.71541 5.71541L4.5 9L3.28459 5.71541L0 4.5L3.28459 3.28459L4.5 0Z" fill="#fff"></path>
                                                  </svg>
                                                  Winter news
                                              </a>
                                          </li>
                                          <li>
                                              <a href="javascript:void(0)">
                                                  <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M4.5 0L5.71541 3.28459L9 4.5L5.71541 5.71541L4.5 9L3.28459 5.71541L0 4.5L3.28459 3.28459L4.5 0Z" fill="#fff"></path>
                                                  </svg>
                                                  Novelties
                                              </a>
                                          </li>
                                          <li>
                                              <a href="javascript:void(0)">
                                                  <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M4.5 0L5.71541 3.28459L9 4.5L5.71541 5.71541L4.5 9L3.28459 5.71541L0 4.5L3.28459 3.28459L4.5 0Z" fill="#fff"></path>
                                                  </svg>
                                                  Hot summer
                                              </a>
                                          </li>
                                          <li>
                                              <a href="javascript:void(0)">
                                                  <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M4.5 0L5.71541 3.28459L9 4.5L5.71541 5.71541L4.5 9L3.28459 5.71541L0 4.5L3.28459 3.28459L4.5 0Z" fill="#fff"></path>
                                                  </svg>
                                                  Bright adventures
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-12">
                              <a href="javascript:void(0)" class="blog-main__item">
                                  <div class="blog-main__items-pic">
                                      <img src="../../images/blog-item-01.jpg" alt="">
                                  </div>
                                  <div class="blog-main__item-info">
                                      <span class="blog-main__item-title">5 best devices for active Summer recreation</span>
                                      <span class="blog-main__item-category">Summer NEWS</span>
                                      <div class="blog-main__item-description">
                                          Summertime is here! We love playing outside in the water, but on days when it is too quente or dark to venture out, there are still plenty of ways that families can bring the fun indoors. We’ve compiled a list of our 11 favorite indoor toys for toddlers of 2023.
                                      </div>
                                      <div class="blog-main__item-footer">
                                          <span>Read more</span>
                                          <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M7.29622 1.59046L1.25249 1.59046C1.02717 1.59046 0.838172 1.51412 0.685488 1.36143C0.532803 1.20875 0.456727 1.02002 0.457257 0.795232C0.457257 0.569918 0.533599 0.380918 0.686283 0.228235C0.838967 0.0755507 1.0277 -0.00052628 1.25249 3.844e-06L9.20477 2.85096e-06C9.43008 2.82282e-06 9.61908 0.0763448 9.77177 0.229029C9.92445 0.381712 10.0005 0.570447 10 0.795231L10 8.74751C10 8.97283 9.92365 9.16183 9.77097 9.31451C9.61829 9.4672 9.42955 9.54327 9.20477 9.54274C8.97945 9.54274 8.79045 9.4664 8.63777 9.31372C8.48509 9.16103 8.40901 8.9723 8.40954 8.74751L8.40954 2.70378L1.33201 9.78131C1.18622 9.92711 1.00066 10 0.775347 10C0.550032 10 0.364481 9.92711 0.218689 9.78131C0.0728965 9.63552 -4.13071e-07 9.44997 -4.03222e-07 9.22465C-3.93374e-07 8.99934 0.0728966 8.81378 0.218689 8.66799L7.29622 1.59046Z" fill="#1C3557"></path>
                                          </svg>
                                      </div>
                                  </div>
                              </a>
                          </div>
                          <div class="col-lg-12">
                              <a href="javascript:void(0)" class="blog-main__item">
                                  <div class="blog-main__items-pic">
                                      <img src="../../images/blog-item-02.jpg" alt="">
                                  </div>
                                  <div class="blog-main__item-info">
                                      <span class="blog-main__item-title">Free Earth Day Printable for Kids</span>
                                      <span class="blog-main__item-category">Swimming season</span>
                                      <div class="blog-main__item-description">
                                          We’re mixing up a classic summertime activity: picnicking. We’ve created a list of 5 different ways to mix up your picnic that will keep little ones excited and entertained during the last few weeks of summer.
                                      </div>
                                      <div class="blog-main__item-footer">
                                          <span>Read more</span>
                                          <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M7.29622 1.59046L1.25249 1.59046C1.02717 1.59046 0.838172 1.51412 0.685488 1.36143C0.532803 1.20875 0.456727 1.02002 0.457257 0.795232C0.457257 0.569918 0.533599 0.380918 0.686283 0.228235C0.838967 0.0755507 1.0277 -0.00052628 1.25249 3.844e-06L9.20477 2.85096e-06C9.43008 2.82282e-06 9.61908 0.0763448 9.77177 0.229029C9.92445 0.381712 10.0005 0.570447 10 0.795231L10 8.74751C10 8.97283 9.92365 9.16183 9.77097 9.31451C9.61829 9.4672 9.42955 9.54327 9.20477 9.54274C8.97945 9.54274 8.79045 9.4664 8.63777 9.31372C8.48509 9.16103 8.40901 8.9723 8.40954 8.74751L8.40954 2.70378L1.33201 9.78131C1.18622 9.92711 1.00066 10 0.775347 10C0.550032 10 0.364481 9.92711 0.218689 9.78131C0.0728965 9.63552 -4.13071e-07 9.44997 -4.03222e-07 9.22465C-3.93374e-07 8.99934 0.0728966 8.81378 0.218689 8.66799L7.29622 1.59046Z" fill="#1C3557"></path>
                                          </svg>
                                      </div>
                                  </div>
                              </a>
                          </div>
                          <div class="col-lg-12">
                              <a href="javascript:void(0)" class="blog-main__item">
                                  <div class="blog-main__items-pic">
                                      <img src="../../images/blog-item-03.jpg" alt="">
                                  </div>
                                  <div class="blog-main__item-info">
                                      <span class="blog-main__item-title">7 Best Outdoor Toys for Toddlers of 2023</span>
                                      <span class="blog-main__item-category">Novelties</span>
                                      <div class="blog-main__item-description">
                                          Are you ready to Get Out and Play®? Keep reading for the best backyard toys to keep your busy body active all season long.
                                      </div>
                                      <div class="blog-main__item-footer">
                                          <span>Read more</span>
                                          <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M7.29622 1.59046L1.25249 1.59046C1.02717 1.59046 0.838172 1.51412 0.685488 1.36143C0.532803 1.20875 0.456727 1.02002 0.457257 0.795232C0.457257 0.569918 0.533599 0.380918 0.686283 0.228235C0.838967 0.0755507 1.0277 -0.00052628 1.25249 3.844e-06L9.20477 2.85096e-06C9.43008 2.82282e-06 9.61908 0.0763448 9.77177 0.229029C9.92445 0.381712 10.0005 0.570447 10 0.795231L10 8.74751C10 8.97283 9.92365 9.16183 9.77097 9.31451C9.61829 9.4672 9.42955 9.54327 9.20477 9.54274C8.97945 9.54274 8.79045 9.4664 8.63777 9.31372C8.48509 9.16103 8.40901 8.9723 8.40954 8.74751L8.40954 2.70378L1.33201 9.78131C1.18622 9.92711 1.00066 10 0.775347 10C0.550032 10 0.364481 9.92711 0.218689 9.78131C0.0728965 9.63552 -4.13071e-07 9.44997 -4.03222e-07 9.22465C-3.93374e-07 8.99934 0.0728966 8.81378 0.218689 8.66799L7.29622 1.59046Z" fill="#1C3557"></path>
                                          </svg>
                                      </div>
                                  </div>
                              </a>
                          </div>
                          <div class="col-lg-12">
                              <a href="javascript:void(0)" class="blog-main__item">
                                  <div class="blog-main__items-pic">
                                      <img src="../../images/blog-item-04.jpg" alt="">
                                  </div>
                                  <div class="blog-main__item-info">
                                      <span class="blog-main__item-title">5 best devices for active Summer recreation</span>
                                      <span class="blog-main__item-category">Summer NEWS</span>
                                      <div class="blog-main__item-description">
                                          Summertime is here! We love playing outside in the water, but on days when it is too quente or dark to venture out, there are still plenty of ways that families can bring the fun indoors. We’ve compiled a list of our 11 favorite indoor toys for toddlers of 2023.
                                      </div>
                                      <div class="blog-main__item-footer">
                                          <span>Read more</span>
                                          <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M7.29622 1.59046L1.25249 1.59046C1.02717 1.59046 0.838172 1.51412 0.685488 1.36143C0.532803 1.20875 0.456727 1.02002 0.457257 0.795232C0.457257 0.569918 0.533599 0.380918 0.686283 0.228235C0.838967 0.0755507 1.0277 -0.00052628 1.25249 3.844e-06L9.20477 2.85096e-06C9.43008 2.82282e-06 9.61908 0.0763448 9.77177 0.229029C9.92445 0.381712 10.0005 0.570447 10 0.795231L10 8.74751C10 8.97283 9.92365 9.16183 9.77097 9.31451C9.61829 9.4672 9.42955 9.54327 9.20477 9.54274C8.97945 9.54274 8.79045 9.4664 8.63777 9.31372C8.48509 9.16103 8.40901 8.9723 8.40954 8.74751L8.40954 2.70378L1.33201 9.78131C1.18622 9.92711 1.00066 10 0.775347 10C0.550032 10 0.364481 9.92711 0.218689 9.78131C0.0728965 9.63552 -4.13071e-07 9.44997 -4.03222e-07 9.22465C-3.93374e-07 8.99934 0.0728966 8.81378 0.218689 8.66799L7.29622 1.59046Z" fill="#1C3557"></path>
                                          </svg>
                                      </div>
                                  </div>
                              </a>
                          </div>
                          <div class="col-lg-12">
                              <a href="javascript:void(0)" class="blog-main__item">
                                  <div class="blog-main__items-pic">
                                      <img src="../../images/blog-item-05.jpg" alt="">
                                  </div>
                                  <div class="blog-main__item-info">
                                      <span class="blog-main__item-title">Free Earth Day Printable for Kids</span>
                                      <span class="blog-main__item-category">Swimming season</span>
                                      <div class="blog-main__item-description">
                                          We’re mixing up a classic summertime activity: picnicking. We’ve created a list of 5 different ways to mix up your picnic that will keep little ones excited and entertained during the last few weeks of summer.
                                      </div>
                                      <div class="blog-main__item-footer">
                                          <span>Read more</span>
                                          <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M7.29622 1.59046L1.25249 1.59046C1.02717 1.59046 0.838172 1.51412 0.685488 1.36143C0.532803 1.20875 0.456727 1.02002 0.457257 0.795232C0.457257 0.569918 0.533599 0.380918 0.686283 0.228235C0.838967 0.0755507 1.0277 -0.00052628 1.25249 3.844e-06L9.20477 2.85096e-06C9.43008 2.82282e-06 9.61908 0.0763448 9.77177 0.229029C9.92445 0.381712 10.0005 0.570447 10 0.795231L10 8.74751C10 8.97283 9.92365 9.16183 9.77097 9.31451C9.61829 9.4672 9.42955 9.54327 9.20477 9.54274C8.97945 9.54274 8.79045 9.4664 8.63777 9.31372C8.48509 9.16103 8.40901 8.9723 8.40954 8.74751L8.40954 2.70378L1.33201 9.78131C1.18622 9.92711 1.00066 10 0.775347 10C0.550032 10 0.364481 9.92711 0.218689 9.78131C0.0728965 9.63552 -4.13071e-07 9.44997 -4.03222e-07 9.22465C-3.93374e-07 8.99934 0.0728966 8.81378 0.218689 8.66799L7.29622 1.59046Z" fill="#1C3557"></path>
                                          </svg>
                                      </div>
                                  </div>
                              </a>
                          </div>
                          <div class="col-lg-12">
                              <a href="javascript:void(0)" class="blog-main__item">
                                  <div class="blog-main__items-pic">
                                      <img src="../../images/blog-item-06.jpg" alt="">
                                  </div>
                                  <div class="blog-main__item-info">
                                      <span class="blog-main__item-title">7 Best Outdoor Toys for Toddlers of 2023</span>
                                      <span class="blog-main__item-category">Novelties</span>
                                      <div class="blog-main__item-description">
                                          Are you ready to Get Out and Play®? Keep reading for the best backyard toys to keep your busy body active all season long.
                                      </div>
                                      <div class="blog-main__item-footer">
                                          <span>Read more</span>
                                          <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M7.29622 1.59046L1.25249 1.59046C1.02717 1.59046 0.838172 1.51412 0.685488 1.36143C0.532803 1.20875 0.456727 1.02002 0.457257 0.795232C0.457257 0.569918 0.533599 0.380918 0.686283 0.228235C0.838967 0.0755507 1.0277 -0.00052628 1.25249 3.844e-06L9.20477 2.85096e-06C9.43008 2.82282e-06 9.61908 0.0763448 9.77177 0.229029C9.92445 0.381712 10.0005 0.570447 10 0.795231L10 8.74751C10 8.97283 9.92365 9.16183 9.77097 9.31451C9.61829 9.4672 9.42955 9.54327 9.20477 9.54274C8.97945 9.54274 8.79045 9.4664 8.63777 9.31372C8.48509 9.16103 8.40901 8.9723 8.40954 8.74751L8.40954 2.70378L1.33201 9.78131C1.18622 9.92711 1.00066 10 0.775347 10C0.550032 10 0.364481 9.92711 0.218689 9.78131C0.0728965 9.63552 -4.13071e-07 9.44997 -4.03222e-07 9.22465C-3.93374e-07 8.99934 0.0728966 8.81378 0.218689 8.66799L7.29622 1.59046Z" fill="#1C3557"></path>
                                          </svg>
                                      </div>
                                  </div>
                              </a>
                          </div>
                          <div class="col-xs-12">
                              <div class="pagination">
                                  <a href="javascript:void(0)" class="prev">
                                      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M3.62485 7.4095L6.75969 10.5443C6.87656 10.6612 6.93499 10.7988 6.93499 10.9572C6.93499 11.1156 6.87656 11.253 6.75969 11.3693C6.64282 11.4862 6.50519 11.5446 6.3468 11.5446C6.18841 11.5446 6.05105 11.4862 5.93473 11.3693L1.80994 7.24451C1.69307 7.12764 1.63464 6.99001 1.63464 6.83162C1.63464 6.67323 1.69307 6.53587 1.80994 6.41955L5.93473 2.29476C6.0516 2.17789 6.18923 2.11946 6.34762 2.11946C6.50602 2.11946 6.64337 2.17789 6.75969 2.29476C6.87656 2.41163 6.93499 2.54926 6.93499 2.70765C6.93499 2.86605 6.87656 3.0034 6.75969 3.11972L3.62485 6.25456L10.967 6.25456C11.1182 6.25456 11.2523 6.313 11.3691 6.42986C11.486 6.54673 11.5444 6.68079 11.5444 6.83203C11.5444 6.98327 11.486 7.11733 11.3691 7.2342C11.2523 7.35107 11.1182 7.4095 10.967 7.4095L3.62485 7.4095Z" fill="#1C3557"/>
                                      </svg>
                                  </a>
                                  <ul>
                                      <li class="current"><span>1</span></li>
                                      <li><a href="javascript:void(0)">2</a></li>
                                      <li><a href="javascript:void(0)">3</a></li>
                                      <li><a href="javascript:void(0)">4</a></li>
                                      <li><a href="javascript:void(0)">5</a></li>
                                      <li><a href="javascript:void(0)">...</a></li>
                                      <li><a href="javascript:void(0)">12</a></li>
                                  </ul>
                                  <a href="javascript:void(0)" class="next">
                                      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M10.3761 7.4095L7.24129 10.5443C7.12442 10.6612 7.06598 10.7988 7.06598 10.9572C7.06598 11.1156 7.12442 11.253 7.24129 11.3693C7.35816 11.4862 7.49579 11.5446 7.65418 11.5446C7.81257 11.5446 7.94992 11.4862 8.06624 11.3693L12.191 7.24451C12.3079 7.12764 12.3663 6.99001 12.3663 6.83162C12.3663 6.67323 12.3079 6.53587 12.191 6.41955L8.06624 2.29476C7.94937 2.17789 7.81174 2.11946 7.65335 2.11946C7.49496 2.11946 7.3576 2.17789 7.24129 2.29476C7.12442 2.41163 7.06598 2.54926 7.06598 2.70765C7.06598 2.86605 7.12442 3.0034 7.24129 3.11972L10.3761 6.25456L3.034 6.25456C2.88276 6.25456 2.7487 6.313 2.63183 6.42986C2.51496 6.54673 2.45653 6.68079 2.45653 6.83203C2.45653 6.98327 2.51496 7.11733 2.63183 7.2342C2.7487 7.35107 2.88276 7.4095 3.034 7.4095L10.3761 7.4095Z" fill="#1C3557"/>
                                      </svg>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <aside class="blog-main__sidebar">
                          <div class="blog-sidebar__categories">
                              <span class="blog-sidebar__subtitle">Blog categories</span>
                              <ul>
                                  <li>
                                      <span>
                                          <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.5 0L5.71541 3.28459L9 4.5L5.71541 5.71541L4.5 9L3.28459 5.71541L0 4.5L3.28459 3.28459L4.5 0Z" fill="#FEB634FF"></path>
                                          </svg>
                                          All categories
                                      </span>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0)">
                                          <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M4.5 0L5.71541 3.28459L9 4.5L5.71541 5.71541L4.5 9L3.28459 5.71541L0 4.5L3.28459 3.28459L4.5 0Z" fill="#fff"></path>
                                          </svg>
                                          Novelties
                                      </a>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0)">
                                          <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M4.5 0L5.71541 3.28459L9 4.5L5.71541 5.71541L4.5 9L3.28459 5.71541L0 4.5L3.28459 3.28459L4.5 0Z" fill="#fff"></path>
                                          </svg>
                                          Hot summer
                                      </a>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0)">
                                          <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M4.5 0L5.71541 3.28459L9 4.5L5.71541 5.71541L4.5 9L3.28459 5.71541L0 4.5L3.28459 3.28459L4.5 0Z" fill="#fff"></path>
                                          </svg>
                                          Bright adventures
                                      </a>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0)">
                                          <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M4.5 0L5.71541 3.28459L9 4.5L5.71541 5.71541L4.5 9L3.28459 5.71541L0 4.5L3.28459 3.28459L4.5 0Z" fill="#fff"></path>
                                          </svg>
                                          Swimming season
                                      </a>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0)">
                                          <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M4.5 0L5.71541 3.28459L9 4.5L5.71541 5.71541L4.5 9L3.28459 5.71541L0 4.5L3.28459 3.28459L4.5 0Z" fill="#fff"></path>
                                          </svg>
                                          Winter news
                                      </a>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0)">
                                          <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M4.5 0L5.71541 3.28459L9 4.5L5.71541 5.71541L4.5 9L3.28459 5.71541L0 4.5L3.28459 3.28459L4.5 0Z" fill="#fff"></path>
                                          </svg>
                                          Novelties
                                      </a>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0)">
                                          <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M4.5 0L5.71541 3.28459L9 4.5L5.71541 5.71541L4.5 9L3.28459 5.71541L0 4.5L3.28459 3.28459L4.5 0Z" fill="#fff"></path>
                                          </svg>
                                          Hot summer
                                      </a>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0)">
                                          <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M4.5 0L5.71541 3.28459L9 4.5L5.71541 5.71541L4.5 9L3.28459 5.71541L0 4.5L3.28459 3.28459L4.5 0Z" fill="#fff"></path>
                                          </svg>
                                          Bright adventures
                                      </a>
                                  </li>
                              </ul>
                          </div>
                          <div class="blog-sidebar__recent">
                              <span class="blog-sidebar__subtitle">Recent posts</span>
                              <div class="row blog-sidebar__recent-items">
                                  <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                      <a href="javascript:void(0)" class="blog-recent__item">
                                          <div class="blog-recent__item-pic">
                                              <img src="../../images/blog-item-01.jpg" alt="">
                                          </div>
                                          <div class="blog-recent__item-info">
                                              <span class="blog-recent__item-title">New Year Printable Activity for Kids</span>
                                              <span class="blog-recent__item-category">WINTER NEWS</span>
                                          </div>
                                      </a>
                                  </div>
                                  <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                      <a href="javascript:void(0)" class="blog-recent__item">
                                          <div class="blog-recent__item-pic">
                                              <img src="../../images/blog-item-02.jpg" alt="">
                                          </div>
                                          <div class="blog-recent__item-info">
                                              <span class="blog-recent__item-title">How to Make A Paper Fortune Teller</span>
                                              <span class="blog-recent__item-category">Swimming season</span>
                                          </div>
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <form class="blog-sidebar__subscribe">
                              <svg width="62" height="31" viewBox="0 0 62 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M30.9972 0C22.7763 0 14.8922 3.26618 9.07878 9.07931C3.26565 14.8924 0 22.7772 0 30.9978H3.09959C3.09959 23.5989 6.03884 16.5028 11.2708 11.2713C16.5027 6.03937 23.5986 3.10012 30.9972 3.10012C38.3959 3.10012 45.4922 6.03937 50.7237 11.2713C55.9557 16.5032 58.8949 23.5991 58.8949 30.9978H61.9945C61.9945 22.7763 58.7288 14.8927 52.9157 9.07931C47.1026 3.26618 39.2178 0 30.9972 0Z" fill="#FEB634"></path>
                                  <path d="M30.9973 6.2002C24.4203 6.2002 18.1127 8.81303 13.4628 13.4632C8.81206 18.1139 6.19922 24.4215 6.19922 30.9991H9.29934C9.29934 23.2468 13.4347 16.083 20.1482 12.2078C26.8616 8.33186 35.1333 8.33186 41.8474 12.2078C48.5609 16.0838 52.6963 23.2472 52.6963 30.9991H55.7964C55.7964 26.6457 54.6506 22.3697 52.4736 18.5996C50.2972 14.8301 47.167 11.6994 43.397 9.52297C39.6274 7.34653 35.3509 6.20073 30.9981 6.20073L30.9973 6.2002Z" fill="#FEB634"></path>
                                  <path d="M30.9971 12.3994C26.0646 12.3994 21.334 14.3589 17.8457 17.8467C14.3579 21.3345 12.3984 26.065 12.3984 30.998H15.498C15.498 25.4604 18.4523 20.3443 23.2478 17.5751C28.0428 14.8066 33.9513 14.8066 38.7458 17.5751C43.5413 20.3442 46.4955 25.4603 46.4955 30.998H49.5951C49.5951 26.065 47.6356 21.3345 44.1479 17.8467C40.6596 14.3589 35.929 12.3994 30.9965 12.3994H30.9971Z" fill="#FEB634"></path>
                                  <path d="M30.9966 18.5986C27.7081 18.5986 24.5545 19.9053 22.2292 22.2307C19.9038 24.5555 18.5977 27.7096 18.5977 30.9981H21.6972C21.6972 27.6753 23.47 24.6059 26.3469 22.9442C29.2238 21.2831 32.7693 21.2831 35.6462 22.9442C38.5231 24.6059 40.2959 27.6753 40.2959 30.9981H43.3955C43.3955 27.7096 42.0893 24.5555 39.7639 22.2307C37.4386 19.9053 34.2851 18.5986 30.9966 18.5986Z" fill="#FEB634"></path>
                              </svg>
                              <span class="blog-sidebar__subscribe-title">Subscribe our news</span>
                              <div class="input-wrapper">
                                  <input class="input" type="text" name="email">
                                  <label>Your email</label>
                              </div>
                              <div class="checkbox-wrapper">
                                  <input type="checkbox" id="checkbox">
                                  <label for="checkbox">I have read and agree with <a href="javascript:void(0)">Privacy Policy</a> and <a href="javascript:void(0)">Terms & Conditions</a>.</label>
                              </div>
                              <button type="submit" class="btn btn-w">Subcribe</button>
                          </form>
                      </aside>
                  </div>
              </div>
          </div>
      </div>
  </main>
  ${require('../parts/footer.html')}
</body>

</html>
