<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Exceptional Concepts</title>
    <link rel="shortcut icon" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#1C3557">
    <meta name="msapplication-navbutton-color" content="#1C3557">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1C3557">
</head>

<body id="main">
${require('../parts/header.html')}
<main class="main">
    <div class="page-top reviews-top">
        <div class="container">
            <div class="breadcrumbs-wrapper">
                <div class="breadcrumbs">
                    <a href="javascript:void(0)">Home</a>
                    <span>Reviews</span>
                </div>
            </div>
            <h1 class="page-title">Reviews</h1>
            <span class="btn btn-tr popup-btn">Write a review</span>
        </div>
    </div>
    <div class="page-reviews">
        <div class="container">
            <div class="page-reviews__item">
                <div class="rating-stars">
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star"></span>
                </div>
                <div class="page-reviews__item-text">
                    <p>Lorem ipsum dolor sit amet consectet-ur. Aliquam lectus libero vitae neque cursus id consequat. Consectetur pretium auctor enim lectus.</p>
                </div>
                <div class="page-reviews__item-bot">
                    <span class="page-reviews__item-name">Andrea L.</span>
                    <span class="page-reviews__item-date">21/03/2023</span>
                </div>
            </div>
            <div class="page-reviews__item">
                <div class="rating-stars">
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                </div>
                <div class="page-reviews__item-text">
                    <p>Habitant dolor ultricies velit nibh turpis consequat diam faucibus adipiscing. Volutpat tellus lectus facilisi adipiscing.Lorem ipsum dolor sit amet consectet-ur. Aliquam lectus libero vitae neque cursus id consequat. Consectetur pretium auctor enim lectus.</p>
                </div>
                <div class="page-reviews__item-bot">
                    <span class="page-reviews__item-name">Liana Carita</span>
                    <span class="page-reviews__item-date">21/03/2023</span>
                </div>
            </div>
            <div class="page-reviews__item">
                <div class="rating-stars">
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                </div>
                <div class="page-reviews__item-text">
                    <p>Lorem ipsum dolor sit amet consectet-ur. Aliquam lectus libero vitae neque cursus id consequat. Consectetur pretium auctor enim lectus.</p>
                </div>
                <div class="page-reviews__item-bot">
                    <span class="page-reviews__item-name">Patricia Guerra</span>
                    <span class="page-reviews__item-date">21/03/2023</span>
                </div>
            </div>
            <div class="page-reviews__item">
                <div class="rating-stars">
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star"></span>
                </div>
                <div class="page-reviews__item-text">
                    <p>Lorem ipsum dolor sit amet consectet-ur. Aliquam lectus libero vitae neque cursus id consequat. Consectetur pretium auctor enim lectus.</p>
                </div>
                <div class="page-reviews__item-bot">
                    <span class="page-reviews__item-name">Andrea L.</span>
                    <span class="page-reviews__item-date">21/03/2023</span>
                </div>
            </div>
            <div class="page-reviews__item">
                <div class="rating-stars">
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                </div>
                <div class="page-reviews__item-text">
                    <p>Habitant dolor ultricies velit nibh turpis consequat diam faucibus adipiscing. Volutpat tellus lectus facilisi adipiscing.Lorem ipsum dolor sit amet consectet-ur. Aliquam lectus libero vitae neque cursus id consequat. Consectetur pretium auctor enim lectus.</p>
                </div>
                <div class="page-reviews__item-bot">
                    <span class="page-reviews__item-name">Liana Carita</span>
                    <span class="page-reviews__item-date">21/03/2023</span>
                </div>
            </div>
            <div class="page-reviews__item">
                <div class="rating-stars">
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                </div>
                <div class="page-reviews__item-text">
                    <p>Lorem ipsum dolor sit amet consectet-ur. Aliquam lectus libero vitae neque cursus id consequat. Consectetur pretium auctor enim lectus.</p>
                </div>
                <div class="page-reviews__item-bot">
                    <span class="page-reviews__item-name">Patricia Guerra</span>
                    <span class="page-reviews__item-date">21/03/2023</span>
                </div>
            </div>
            <div class="page-reviews__item">
                <div class="rating-stars">
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star"></span>
                </div>
                <div class="page-reviews__item-text">
                    <p>Lorem ipsum dolor sit amet consectet-ur. Aliquam lectus libero vitae neque cursus id consequat. Consectetur pretium auctor enim lectus.</p>
                </div>
                <div class="page-reviews__item-bot">
                    <span class="page-reviews__item-name">Andrea L.</span>
                    <span class="page-reviews__item-date">21/03/2023</span>
                </div>
            </div>
            <div class="page-reviews__item">
                <div class="rating-stars">
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                </div>
                <div class="page-reviews__item-text">
                    <p>Habitant dolor ultricies velit nibh turpis consequat diam faucibus adipiscing. Volutpat tellus lectus facilisi adipiscing.Lorem ipsum dolor sit amet consectet-ur. Aliquam lectus libero vitae neque cursus id consequat. Consectetur pretium auctor enim lectus.</p>
                </div>
                <div class="page-reviews__item-bot">
                    <span class="page-reviews__item-name">Liana Carita</span>
                    <span class="page-reviews__item-date">21/03/2023</span>
                </div>
            </div>
            <div class="page-reviews__item">
                <div class="rating-stars">
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                    <span class="rating-star icon-star active"></span>
                </div>
                <div class="page-reviews__item-text">
                    <p>Lorem ipsum dolor sit amet consectet-ur. Aliquam lectus libero vitae neque cursus id consequat. Consectetur pretium auctor enim lectus.</p>
                </div>
                <div class="page-reviews__item-bot">
                    <span class="page-reviews__item-name">Patricia Guerra</span>
                    <span class="page-reviews__item-date">21/03/2023</span>
                </div>
            </div>
            <div class="pagination">
                <a href="javascript:void(0)" class="prev disabled">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.62485 7.4095L6.75969 10.5443C6.87656 10.6612 6.93499 10.7988 6.93499 10.9572C6.93499 11.1156 6.87656 11.253 6.75969 11.3693C6.64282 11.4862 6.50519 11.5446 6.3468 11.5446C6.18841 11.5446 6.05105 11.4862 5.93473 11.3693L1.80994 7.24451C1.69307 7.12764 1.63464 6.99001 1.63464 6.83162C1.63464 6.67323 1.69307 6.53587 1.80994 6.41955L5.93473 2.29476C6.0516 2.17789 6.18923 2.11946 6.34762 2.11946C6.50602 2.11946 6.64337 2.17789 6.75969 2.29476C6.87656 2.41163 6.93499 2.54926 6.93499 2.70765C6.93499 2.86605 6.87656 3.0034 6.75969 3.11972L3.62485 6.25456L10.967 6.25456C11.1182 6.25456 11.2523 6.313 11.3691 6.42986C11.486 6.54673 11.5444 6.68079 11.5444 6.83203C11.5444 6.98327 11.486 7.11733 11.3691 7.2342C11.2523 7.35107 11.1182 7.4095 10.967 7.4095L3.62485 7.4095Z" fill="#1C3557"/>
                    </svg>
                </a>
                <ul>
                    <li class="current"><span>1</span></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><a href="javascript:void(0)">3</a></li>
                    <li><a href="javascript:void(0)">4</a></li>
                    <li><a href="javascript:void(0)">5</a></li>
                    <li><a href="javascript:void(0)">...</a></li>
                    <li><a href="javascript:void(0)">12</a></li>
                </ul>
                <a href="javascript:void(0)" class="next">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.3761 7.4095L7.24129 10.5443C7.12442 10.6612 7.06598 10.7988 7.06598 10.9572C7.06598 11.1156 7.12442 11.253 7.24129 11.3693C7.35816 11.4862 7.49579 11.5446 7.65418 11.5446C7.81257 11.5446 7.94992 11.4862 8.06624 11.3693L12.191 7.24451C12.3079 7.12764 12.3663 6.99001 12.3663 6.83162C12.3663 6.67323 12.3079 6.53587 12.191 6.41955L8.06624 2.29476C7.94937 2.17789 7.81174 2.11946 7.65335 2.11946C7.49496 2.11946 7.3576 2.17789 7.24129 2.29476C7.12442 2.41163 7.06598 2.54926 7.06598 2.70765C7.06598 2.86605 7.12442 3.0034 7.24129 3.11972L10.3761 6.25456L3.034 6.25456C2.88276 6.25456 2.7487 6.313 2.63183 6.42986C2.51496 6.54673 2.45653 6.68079 2.45653 6.83203C2.45653 6.98327 2.51496 7.11733 2.63183 7.2342C2.7487 7.35107 2.88276 7.4095 3.034 7.4095L10.3761 7.4095Z" fill="#1C3557"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</main>
${require('../parts/footer.html')}
<div class="mfp-hide">
    <div class="popup reviews-popup">
        <div class="review-form__rating">
            <span>Ваша оцінка</span>
            <fieldset class="rating">
                <input type="radio" id="star5" name="grade" value="5"><label class="rating-star"
                                                                             for="star5"></label>
                <input type="radio" id="star4" name="grade" value="4"><label class="rating-star"
                                                                             for="star4"></label>
                <input type="radio" id="star3" name="grade" value="3"><label class="rating-star"
                                                                             for="star3"></label>
                <input type="radio" id="star2" name="grade" value="2"><label class="rating-star"
                                                                             for="star2"></label>
                <input type="radio" id="star1" name="grade" value="1"><label class="rating-star"
                                                                             for="star1"></label>
            </fieldset>
        </div>
    </div>
</div>

</body>

</html>
