<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Exceptional Concepts</title>
    <link rel="shortcut icon" href="../../images/favicon.png" type="image/jpg">
    <meta name="theme-color" content="#101B25">
    <meta name="msapplication-navbutton-color" content="#101B25">
    <meta name="apple-mobile-web-app-status-bar-style" content="#101B25">
</head>

<body id="main">
<div class="sitemap" style="margin: 40px">
    <h1>Sitemap Exceptional Concepts</h1>
    <ul>
        <li>
            <a href="/" target="_blank">Home</a>
        </li>
        <li>
            <a href="/about" target="_blank">About</a>
        </li>
        <li>
            <a href="/blog" target="_blank">Blog</a>
        </li>
        <li>
            <a href="/blog-article" target="_blank">Blog Article</a>
        </li>
        <li>
            <a href="/cart" target="_blank">Cart</a>
        </li>
        <li>
            <a href="/catalog" target="_blank">Catalog</a>
        </li>
        <li>
            <a href="/catalog-checked-category" target="_blank">Catalog (checked category)</a>
        </li>
        <li>
            <a href="/catalog-checked-filters" target="_blank">Catalog (checked filters)</a>
        </li>
        <li>
            <a href="/checkout-step1" target="_blank">Checkout (step 1)</a>
        </li>
        <li>
            <a href="/checkout-step2" target="_blank">Checkout (step 2)</a>
        </li>
        <li>
            <a href="/checkout-step3" target="_blank">Checkout (step 3)</a>
        </li>
        <li>
            <a href="/contacts" target="_blank">Contacts</a>
        </li>
        <li>
            <a href="/faq" target="_blank">FAQ</a>
        </li>
        <li>
            <a href="/no-goods" target="_blank">No goods</a>
        </li>
        <li>
            <a href="/product" target="_blank">Product</a>
        </li>
        <li>
            <a href="/product-not-available" target="_blank">Product (not available)</a>
        </li>
        <li>
            <a href="/reviews" target="_blank">Reviews</a>
        </li>
        <li>
            <a href="/search-results" target="_blank">Search results</a>
        </li>
        <li>
            <a href="/search-results-empty" target="_blank">Search results (empty)</a>
        </li>
        <li>
            <a href="/thank-you" target="_blank">Thank you</a>
        </li>
        <li>
            <a href="/404" target="_blank">404</a>
        </li>
    </ul>
</div>
<style>
    .sitemap h1{
        margin-bottom: 30px;
    }
    .sitemap a{
        font-size: 20px;
    }
</style>


</body>
</html>
