.page-top {
  display: flex;
  min-height: 150px;
  padding-top: 20px;
  background-color: $main;
  @include bp(xs) {
    min-height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

  }
}

.page-title {
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
  font-family: $title;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #fff;
  @include bp(xs) {
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
  }
}

.about-page__top-text {
  display: block;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 33px;
  font-family: $title;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  @include bp(xs) {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 150%;
  }
}

.about-page__main-pic {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 31px;
  @include bp(xs) {
    margin-bottom: 10px;
  }

  & picture {
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.about-page__content {
  margin-bottom: 68px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include bp(xs) {
    margin-bottom: 30px;
  }
  + .about-page__video .video-wrapper{
    margin-bottom: 80px;
    @include bp(xs) {
      margin-bottom: 30px;
    }
  }
}

.about-page__content-text {
  padding-top: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: $main;
  @include bp(md) {
    margin-bottom: 50px;
    padding-top: 13px;
  }
  @include bp(xs) {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
  }

  p {
    + p {
      margin-top: 15px;
    }
  }
}

.about-page__content-ownship {
  display: flex;
  flex-wrap: wrap;
  gap: 38px 0;
  border: 1px solid #341172;
  border-radius: 10px;
  padding: 51px 25px 25px 51px;
  max-width: 502px;
  margin-left: auto;
  @include bp(md) {
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
  }
  @include bp(xs) {
    padding: 28px 15px 25px 15px;
    gap: 25px;
  }

  > div {
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include bp(md) {
      margin-right: 24px;
    }

    &:nth-of-type(1) {
      width: 100px;
      margin-right: 43px;
      @include bp(xs) {
        margin-right: 0;
      }
    }

    &:nth-of-type(2) {
      width: 100px;
      margin-right: 43px;
      @include bp(xs) {
        margin-right: 0;
      }
    }

    &:nth-of-type(3) {
      width: 100px;
      @media (max-width: 1080px) {
        margin-right: 20px;
      }
      @include bp(xs) {
        margin-right: 0;
      }

    }

    &:nth-of-type(4) {
      width: 245px;
      margin-left: -19px;
      margin-right: 35px;
      height: fit-content;
      @media (max-width: 1080px) {
        margin-right: 0;
      }
      @include bp(xs) {
        margin-right: 0;
      }
    }

    &:nth-of-type(5) {
      width: 143px;
      margin-top: 15px;
    }

    @include bp(xs) {
      margin-right: 0;
    }


    > a {
      display: block;
      font-weight: 500;
      font-size: 10px;
      line-height: 130%;
      text-decoration-line: underline;
      color: $main;

      &:hover {
        text-decoration: none;
      }

      > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        margin-bottom: 5px;
        border: 1px solid #1C3557;
      }
    }
  }

  & picture {
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.about-page__bot-text {
  margin-bottom: 56px;
  @include bp(xs) {
    margin-bottom: 30px;
  }

  + .club-form {
    margin-bottom: 90px;
    @include bp(xs) {
      margin-bottom: 30px;
    }
  }

  span {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    font-family: $title;
    text-align: center;
    margin-bottom: 6px;
    @include bp(xs) {
      font-size: 24px;
      line-height: 150%;
    }
  }

  p {
    max-width: 923px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    @include bp(xs) {
      font-size: 16px;
      line-height: 130%;
    }
  }
}
