.blog-main{
  padding: 50px 0 95px;
}

.blog-main__wrapper{
  display: flex;
}

.blog-main__items{
  .col-lg-12{
    +.col-lg-12{
      margin-top: 30px;
    }
  }
}

.blog-main__item{
  border-radius: 10px;
  overflow: hidden;
  background-color: $bg-grey;
  display: flex;
  width: 100%;
  height: 300px;
  text-decoration: none;
  &:hover{
    .blog-main__items-pic{
      img{
        transform: scale(1.1);
      }
    }
    .blog-main__item-title{
      color: $red;
    }
  }
}

.blog-main__items-pic{
  width: 470px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: linear .2s;
  }
}

.blog-main__item-info{
  width: calc(100% - 470px);
  padding: 35px 25px 20px 30px;
  display: flex;
  flex-direction: column;
}

.blog-main__item-title{
  display: block;
  margin-bottom: 10px;
  font-size: 21px;
  line-height: 130%;
  text-transform: uppercase;
  color: $main;
  transition: linear .2s;
}

.blog-main__item-category{
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 130%;
  text-transform: uppercase;
  color: rgba($main, .5);
}

.blog-main__item-description{
  flex-grow: 1;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 15px;
  color: $main;
}

.blog-main__item-footer{
  display: flex;
  justify-content: space-between;
  color: $main;
  span{
    font-size: 12px;
    line-height: 18px;
    text-decoration: underline;
  }
}

.blog-sidebar__subtitle{
  display: block;
  font-family: $title;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  padding: 17px 0 15px;
  border-top: 1px solid $main;
  border-bottom: 1px solid $main;
}

.blog-sidebar__categories{
  padding-bottom: 40px;
  .blog-sidebar__subtitle{
    margin-bottom: 20px;
  }
  >ul{
    font-size: 11px;
    line-height: 130%;
    text-transform: uppercase;
    li{
      margin-bottom: 12px;
      &:last-child{
        margin-bottom: 0;
      }
      span{
        display: flex;
        align-items: center;
        color: $yellow;
        svg{
          width: 8px;
          height: 8px;
          margin-right: 14px;
          path{
            fill: $yellow;
          }
        }
      }
      a{
        display: flex;
        align-items: center;
        color: rgba($main, .5);
        &:hover{
          svg{
            path{
              fill: $red;
            }
          }
        }
        svg{
          width: 8px;
          height: 8px;
          margin-right: 14px;
          path{
            fill: rgba($main, .5);
          }
        }
      }
    }
  }
}

.blog-sidebar__recent{
  margin-bottom: 30px;
  border-bottom: 1px solid $main;
  .blog-sidebar__subtitle{
    margin-bottom: 25px;
  }
}

.blog-sidebar__recent-items{
  display: flex;
  flex-wrap: wrap;
}

.blog-recent__item{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  &:hover{
    .blog-recent__item-pic{
      img{
        transform: scale(1.1);
      }
    }
    .blog-recent__item-title{
      color: $red;
    }
  }
}

.blog-recent__item-pic{
  border-radius: 10px;
  overflow: hidden;
  height: 160px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: linear .2s;
  }
}

.blog-recent__item-info{
  min-height: 70px;
  padding: 15px 0;
}

.blog-recent__item-title{
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 130%;
  text-transform: uppercase;
  color: $main;
  transition: linear .2s;
}

.blog-recent__item-category{
  display: block;
  font-size: 11px;
  line-height: 130%;
  text-transform: uppercase;
  color: rgba($main, .5);
}

.blog-sidebar__subscribe{
  background-color: $main;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 20px 45px;
  text-align: center;
  >svg{
    display: block;
    margin: 0 auto 11px;
    width: 46px;
    height: 23px;
  }
  .input-wrapper{
    margin-bottom: 20px;
    &.focus, &.filled{
      .input{
        border-color: #fff;
        +label{
          @include bp(xs) {
            font-size: 10px;
            line-height: 15px;
            top: 4px;
          }
        }
      }
    }
  }
  .input{
    border-color: #fff;
    color: #fff;
    background-color: transparent;
    height: 40px;
    font-size: 14px;
    padding: 15px 15px 4px 15px;
    +label{
      color: $bg-grey;
      font-size: 12px;
      line-height: 18px;
      left: 15px;
      top: 11px;
    }
  }
  .checkbox-wrapper{
    margin-bottom: 15px;
    input{
      &:checked{
        +label{
          &:before{
            background: #fff;
          }
        }
      }
      +label{
        color: #fff;
        text-align: left;
        padding-left: 20px;
        &:before{
          border-color: #fff;
        }
        &:after{
          background-color: $main;
        }
        a{
          color: #fff;
          &:hover{
            color: $yellow;
          }
        }
      }
    }
  }
  .btn{
    width: 100%;
    &:hover{
      background-color: $yellow;
      color: $main;
    }
  }
}

.blog-sidebar__subscribe-title{
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;
  text-align: center;
  color: #fff;
  margin-bottom: 11px;
}
