.breadcrumbs-wrapper{
  @include bp(xs) {
    width: calc(100vw - 15px);
    padding-right: 15px;
    overflow: auto;
  }
}

.breadcrumbs {
  font-weight: 400;
  font-size: 11px;
  line-height: 130%;
  color: rgba($grey, 0.6);
  @include bp(xs) {
    width: max-content;
  }
  a {
    color: rgba($grey, 0.6);
    text-decoration: none;
    font-family: $default;
    &:hover, &:focus {
      color: #fff;
      text-decoration: none;
      &:before {
        color: rgba($grey, 0.6);
      }
    }
    &:before {
      content: '/';
      display: inline-block;
      vertical-align: middle;
      margin: 0 4px 0 0;
      position: relative;
      transition: linear .2s;
      color: rgba($grey, 0.6);
      @include bp(xs) {
        margin: 0 7px 0 4px;
      }
    }
    &:first-child {
      &:before {
        display: none;
      }
    }
  }
  span {
    cursor: default;
    font-family: $default;
    &:before {
      content: '/';
      display: inline-block;
      vertical-align: middle;
      margin: 0 4px 0 0;
      position: relative;
      color: rgba($grey, 0.6);
      @include bp(xs) {
        margin: 0 8px 0 7px;
      }
    }
    &:first-child {
      &:before {
        color: rgba($grey, 0.6);
      }
    }
  }
}
