.page-cart {
  padding: 50px 0;
  @include bp(xs) {
    padding: 12px 0 25px;
  }
}

.cart-table {
  margin-bottom: 147px;
  @include bp(xs) {
    margin-bottom: 50px;
  }
}

.cart-table__head {
  display: flex;
  font-size: 14px;
  line-height: 21px;
  color: rgba($main, .5);
  padding-bottom: 10px;
  border-bottom: 1px solid $main;
  @include bp(xs) {
    font-size: 11px;
    line-height: 17px;
    padding-bottom: 12px;
  }

  .prod {
    width: 750px;
    @include bp(md) {
      width: 52%;
    }
    @include bp(sm) {
      width: 150px;
    }
    @include bp(xs) {
      width: 90px;
    }
  }

  .qty {
    width: 220px;
    @include bp(md) {
      width: 30%;
    }
    @include bp(sm) {
      width: calc(65% - 75px);
    }
    @include bp(xs) {
      width: calc(65% - 45px);
    }
  }

  .total {
    width: 200px;
    text-align: right;
    @include bp(md) {
      width: 18%;
    }
    @include bp(sm) {
      width: calc(35% - 75px);
    }
    @include bp(xs) {
      width: calc(35% - 45px);
    }
  }
}

.cart-table__body {
  padding: 30px 0;
  border-bottom: 1px solid $main;
  margin-bottom: 20px;
  @include bp(xs) {
    padding-top: 15px;
    margin-bottom: 15px;
  }
}

.cart-table__item {
  display: flex;
  align-items: flex-start;
  min-height: 110px;
  @include bp(sm) {
    position: relative;
    padding-bottom: 40px;
  }
  @include bp(xs) {
    min-height: 92px;
    padding-bottom: 30px;
  }

  + .cart-table__item {
    margin-top: 25px;
    @include bp(xs) {
      margin-top: 38px;
    }
  }

  .prod {
    width: 750px;
    display: flex;
    align-items: center;
    padding-right: 30px;
    @include bp(md) {
      width: 52%;
      padding-right: 20px;
    }
    @include bp(sm) {
      width: 80%;
    }
    @include bp(xs) {
      align-items: flex-start;
      padding-right: 10px;
    }

    .cart-item__pic {
      width: 130px;
      height: 110px;
      @include bp(xs) {
        width: 80px;
        height: 80px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .cart-item__info {
      width: calc(100% - 130px);
      padding-left: 53px;
      @include bp(md) {
        padding-left: 20px;
      }
      @include bp(xs) {
        width: calc(100% - 90px);
        padding-left: 10px;
        padding-top: 7px;
      }

      .cart-item__name {
        display: block;
        font-size: 18px;
        line-height: 27px;
        color: $main;
        text-decoration: none;
        @include bp(xs) {
          font-size: 12px;
          line-height: 130%;
        }

        &:hover {
          color: $red;
          text-decoration: underline;
        }
      }

      .cart-item__id {
        display: block;
        margin-top: 5px;
        font-size: 12px;
        line-height: 18px;
        color: rgba($main, .5);
        @include bp(xs) {
          font-size: 11px;
          line-height: 17px;
        }
      }

      .cart-variations {
        display: flex;
        font-size: 12px;
        line-height: 18px;
        margin-top: 5px;
        @include bp(xs) {
          font-size: 11px;
          line-height: 17px;
          margin-top: 2px;
        }

        > span {
          color: rgba($main, .5);
          margin-right: 5px;
        }

        //> div {
        //  position: relative;
        //
        //  .cart-variation-current {
        //    display: flex;
        //    align-items: center;
        //    cursor: pointer;
        //
        //    svg {
        //      margin-left: 16px;
        //    }
        //
        //    &.active {
        //      + .cart-variations-list {
        //        top: calc(100% + 3px);
        //        opacity: 1;
        //        visibility: visible;
        //      }
        //    }
        //  }
        //
        //  .cart-variations-list {
        //    position: absolute;
        //    background-color: #fff;
        //    z-index: 1;
        //    top: calc(100% + 10px);
        //    left: 0;
        //    width: max-content;
        //    min-width: 80px;
        //    padding: 10px;
        //    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        //    border-radius: 3px;
        //    visibility: hidden;
        //    opacity: 0;
        //    transition: linear .2s;
        //
        //    li {
        //      cursor: pointer;
        //      margin-bottom: 3px;
        //
        //      &:last-child {
        //        margin-bottom: 0;
        //      }
        //    }
        //  }
        //}

      }
    }
  }

  .qty {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    @include bp(md) {
      width: 30%;
    }
    @include bp(sm) {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding-left: 150px;
      padding-top: 0;
    }
    @include bp(xs) {
      padding-left: 90px;
    }

    .product-counter {
      @include bp(xs) {
        width: 130px;
        margin-bottom: 0;
      }

      > span {
        @include bp(xs) {
          height: 23px;
          width: 25px;
        }

        &.minus {
          svg {
            @include bp(xs) {
              height: 2px;
              width: 9px;
            }
          }
        }

        &.plus {
          svg {
            @include bp(xs) {
              height: 9px;
              width: 9px;
            }
          }
        }
      }

      > input {
        line-height: 1;
        @include bp(xs) {
          font-size: 12px;
          line-height: 18px;
          height: 23px;
          width: calc(100% - 60px);
        }
      }
    }

    .cart-item__remove {
      display: flex;
      position: relative;
      cursor: pointer;

      &:hover {
        svg {
          opacity: 1;
        }
      }

      &:before {
        position: absolute;
        content: '';
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        left: -5px;
        top: -5px;
      }

      svg {
        opacity: .5;
      }
    }
  }

  .total {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    @include bp(md) {
      width: 18%;
    }
    @include bp(sm) {
      width: 20%;
    }
    @include bp(xs) {
      padding-top: 7px;
    }

    .cart-item__price {
      display: block;
      font-size: 18px;
      line-height: 27px;
      text-align: right;
      @include bp(xs) {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

.cart-variations {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  > span {
    font-size: 12px;
    line-height: 18px;
    color: rgba(28, 53, 87, 0.5);
  }

  > div {
    position: relative;

    > span {
      font-size: 12px;
      line-height: 18px;
    }

    .cart-variation-current {
      margin-top: -3px;
      cursor: pointer;
      > span {
        margin-right: 9px;
        font-size: 12px;
        line-height: 18px;
        color: $main;
      }
      svg {
        transition: ease 0.4s;
      }

      &.active {
        + .cart-variations-list {
          top: calc(100% + 3px);
          opacity: 1;
          visibility: visible;
        }

        svg {
          transform: scale(1, -1);
          transition: ease 0.3s;
        }
      }
    }

    .cart-variations-list {
      position: absolute;
      background-color: #fff;
      z-index: 1;
      top: calc(100% + 10px);
      left: 0;
      width: max-content;
      min-width: 80px;
      padding: 10px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      visibility: hidden;
      opacity: 0;
      transition: linear .2s;
      font-size: 12px;
      line-height: 18px;
      color: $main;


      li {
        cursor: pointer;
        margin-bottom: 3px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}


.cart-table__footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.cart-table__continue {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: $main;
  text-decoration: underline;
  text-transform: capitalize;
  @include bp(xs) {
    font-size: 12px;
    line-height: 18px;
  }

  &:hover {
    text-decoration: none;
    color: $red;

    svg {
      path {
        fill: $red;
      }
    }
  }

  svg {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    @include bp(xs) {
      width: 8px;
      height: 8px;
    }
  }
}

.cart-table__totals {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include bp(xs) {
    width: 50%;
  }
}

.cart-table__subtotal {
  display: flex;
  align-items: baseline;
  @include bp(xs) {
    flex-direction: column;
    align-items: flex-end;
  }

  > span {
    font-size: 16px;
    line-height: 24px;
    @include bp(xs) {
      font-size: 11px;
      line-height: 17px;
    }
  }

  > div {
    font-size: 21px;
    line-height: 32px;
    margin-left: 32px;
    @include bp(xs) {
      margin-left: 0;
      font-size: 16px;
      line-height: 24px;
      margin-top: 2px;
    }
  }
}

.cart-table__taxes {
  font-size: 12px;
  line-height: 18px;
  color: rgba($main, .5);
  margin-top: 10px;
  @include bp(xs) {
    margin-top: 6px;
    text-align: right;
  }

  a {
    color: rgba($main, .5);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: $red;
    }
  }
}

.cart-table__btn {
  width: 220px;
  margin-left: auto;
  margin-top: 20px;
  @include bp(xs) {
    width: 100%;
    margin-top: 14px;
  }
}

.cart-set {
  width: 700px;
  max-width: 100%;
  border-top: 1px solid $main;
  @include bp(md) {
    width: 100%;
  }
}

.cart-set__title {
  display: block;
  font-size: 21px;
  line-height: 32px;
  padding: 20px 0;
  @include bp(xs) {
    font-size: 18px;
    line-height: 27px;
    padding: 15px 0 18px;
  }
}

.cart-set__main {
  background-color: $bg-grey;
  display: flex;
  align-items: flex-start;
  border-radius: 5px;
  padding: 27px 56px 23px;
  @include bp(sm) {
    padding: 27px 20px 23px;
  }
  @include bp(xs) {
    flex-direction: column;
    padding: 20px 10px 35px;
  }
}

.cart-set__left {
  width: 314px;
  margin-right: 50px;
  @include bp(sm) {
    margin-right: 20px;
  }
  @include bp(xs) {
    width: 100%;
    margin-right: 0;
  }
}

.cart-set__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 25px;
  padding-bottom: 25px;
  @include bp(xs) {
    padding: 0 25px 20px;
  }

  > a {
    width: 75px;
    height: 75px;
    @include bp(xs) {
      width: 60px;
      height: 60px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  > svg {
    width: 14px;
    height: 14px;
  }
}

.cart-set__include {
  border-top: 1px solid $main;
  padding-top: 13px;
  font-size: 12px;
  line-height: 18px;
  @include bp(xs) {
    padding-top: 19px;
  }

  > li {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1px;
    @include bp(xs) {
      margin-bottom: 12px;
      align-items: flex-end;
    }

    &:last-child {
      margin-bottom: 0;
      @include bp(xs) {
        align-items: flex-start;
      }
    }

    > div {
      width: calc(100% - 60px);
      @include bp(xs) {
        width: 65%;
      }

      > span {
        font-weight: 500;
        @include bp(xs) {
          display: block;
        }
      }
    }

    > span {
      text-align: right;
      width: 60px;
      color: #FF5C1B;
      @include bp(xs) {
        width: 35%;
      }
    }
  }
}

.cart-set__right {
  padding-top: 16px;
  @include bp(xs) {
    width: 100%;
    border-top: 1px solid $main;
    padding-top: 6px;
    margin-top: 17px;
  }

  .btn {
    width: 188px;
    margin-top: 10px;
    @include bp(xs) {
      width: 100%;
      margin-top: 21px;
    }
  }
}

.cart-set__totals {
  display: flex;
  align-items: baseline;
  @include bp(xs) {
    justify-content: flex-end;
  }

  > div {
    font-size: 16px;
    line-height: 24px;
    margin-right: 12px;
  }

  > span {
    font-size: 21px;
    line-height: 32px;
    color: #FF5C1B;
  }
}

.cart-related {
  padding: 40px 0 55px;
  @include bp(xs) {
    padding: 25px 0 50px;
  }

  .bestsellers-slider__wrapper {
    border-bottom: none;
  }
}
