.checkout-header{
  background-color: $main;
  height: 140px;
  @include bp(xs) {
    height: 80px;
  }
  >.container{
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include bp(xs) {
      height: 80px;
    }
  }
}

.checkout-logo{
  width: 70px;
  height: 70px;
  @include bp(xs) {
    width: 55px;
    height: 55px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.checkout-phone{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  @include bp(xs) {
    font-size: 14px;
    line-height: 21px;
  }
  &:hover{
    color: $yellow;
    text-decoration: none;
    svg{
      path{
        fill: $yellow;
      }
    }
  }
  svg{
    margin-right: 16px;
  }
}

.checkout-page{
  position: relative;
  &:before{
    position: absolute;
    content: '';
    height: 100%;
    top: 0;
    right: 0;
    width: calc(50% - 50px);
    background-color: $bg-grey;
    @include bp(lg) {
      width: calc(50% - 20px);
    }
    @include bp(md) {
      display: none;
    }
  }
}

.checkout-wrapper{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  @include bp(md) {
    flex-direction: column-reverse;
  }
}

.checkout-left{
  padding: 25px 15px 90px;
  @include bp(md) {
    padding: 50px 15px;
  }
  @include bp(xs) {
    padding: 20px 15px 45px;
  }
}

.checkout-nav{
  font-size: 13px;
  line-height: 130%;
  display: flex;
  margin-bottom: 40px;
  @include bp(xs) {
    font-size: 11px;
    margin-bottom: 44px;
  }
  *{
    &:after{
      content: '/';
      margin: 0 5px;
      text-decoration: none;
      color: rgba($main, .5);
      @include bp(xs) {
        margin: 0 4px;
      }
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
  a{
    color: $main;
    text-decoration: underline;
    &:after{
      text-decoration: underline;
      text-decoration-color: #fff;
      color: rgba($main, .5);
    }
    &:hover, &:focus{
      color: $red;
      text-decoration: none;
      &:after{
        text-decoration: underline;
        text-decoration-color: #fff;
        color: rgba($main, .5);
      }
    }
  }
  span{
    color: rgba($main, .5);
    &.current{
      color: $main;
    }
  }
}

.checkout-title{
  display: block;
  margin-top: 0;
  margin-bottom: 50px;
  font-family: $title;
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  padding-bottom: 12px;
  border-bottom: 1px solid $main;
  @include bp(xs) {
    padding-bottom: 9px;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 32px;
  }
}

.checkout-subtitle{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: block;
  margin-bottom: 13px;
  @include bp(xs) {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 15px;
  }
  >span{
    display: block;
    font-size: 14px;
    line-height: 21px;
    color: rgba($main, .5);
    @include bp(xs) {
      font-size: 12px;
      line-height: 18px;
      margin-top: 1px;
      margin-bottom: -5px;
    }
  }
}

.checkout-form{
  .input-wrapper{
    margin-bottom: 15px;
    @include bp(xs) {
      margin-bottom: 10px;
    }
  }
  .tooltip-wrapper{
    z-index: 2;
    .tooltip-dialog{
      @include bp(md) {
        left: auto;
        right: -21px;
        transform: none;
      }
      &:after{
        @include bp(md) {
          left: auto;
          right: 17px;
          bottom: -7px;
          transform: rotate(45deg);
        }
      }
    }
  }
  .checkout-form__row{
    display: flex;
    gap: 15px;
    @include bp(xs) {
      flex-direction: column;
      gap: 0;
    }
    &.two-fields{
      .input-wrapper{
        width: 280px;
        @include bp(md) {
          width: 50%;
        }
        @include bp(xs) {
          width: 100%;
        }
        &:last-child{
          width: 275px;
          @include bp(md) {
            width: 49%;
          }
          @include bp(xs) {
            width: 100%;
          }
        }
      }
    }
    &.three-fields{
      .input-wrapper{
        width: 200px;
        @include bp(md) {
          width: 38%;
        }
        @include bp(xs) {
          width: 100%;
        }
        &:last-child{
          width: 140px;
          @include bp(md) {
            width: 22%;
          }
          @include bp(xs) {
            width: 100%;
          }
        }
      }
    }
  }
}

.checkout-contact{
  margin-bottom: 37px;
  @include bp(xs) {
    margin-bottom: 30px;
  }
  .checkbox-wrapper{
    margin-top: -5px;
    @include bp(xs) {
      margin-top: 0;
    }
    input{
      + label{
        padding-left: 25px;
        padding-top: 1px;
        @include bp(xs) {
          padding-left: 21px;
        }
      }
    }
  }
}

.checkout-shipping-address{
  margin-bottom: 50px;
  @include bp(xs) {
    margin-bottom: 30px;
  }
}

.checkout-form__footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include bp(xs) {
    flex-direction: column;
  }
  .btn{
    width: 210px;
    border-radius: 5px;
    @include bp(xs) {
      width: 100%;
      height: 50px;
    }
  }
}

.checkout-form__return{
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  text-decoration: underline;
  color: $main;
  @include bp(xs) {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  &:hover{
    color: $red;
    svg{
      path{
        fill: $red;
      }
    }
  }
  svg{
    width: 10px;
    height: 10px;
    margin-left: 10px;
    @include bp(xs) {
      width: 8px;
      height: 8px;
      margin-left: 16px;
    }
  }
}

.checkout-right{
  padding: 98px 15px 50px 115px;
  @include bp(lg) {
    padding-left: 55px;
  }
  @include bp(md) {
    display: none;
    width: auto;
    margin: 0 -15px;
    padding: 30px 30px 50px;
    background-color: $bg-grey;
  }
  @include bp(xs) {
    padding: 0 30px 25px;
  }
}

.checkout-items__head{
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid $main;
  padding-bottom: 15px;
  @include bp(md) {
    display: none;
  }
}

.checkout-items__wrapper{
  padding: 33px 0 25px;
  border-bottom: 1px solid rgba($main, .2);
  @include bp(md) {
    padding-top: 15px;
  }
  @include bp(xs) {
    padding: 18px 0;
  }
}

.checkout-item{
  display: flex;
  align-items: flex-start;
  +.checkout-item{
    margin-top: 25px;
  }
}

.checkout-item__pic{
  position: relative;
  width: 100px;
  height: 75px;
  @include bp(xs) {
    width: 80px;
    height: 80px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.checkout-item__count{
  position: absolute;
  top: -6px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main;
  color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 11px;
  line-height: 17px;
  text-align: center;
  @include bp(xs) {
    width: 15px;
    height: 15px;
    font-size: 10px;
    line-height: 15px;
  }
}

.checkout-item__info{
  display: flex;
  align-items: flex-start;
  padding-top: 4px;
  padding-left: 43px;
  width: calc(100% - 100px);
  @include bp(xs) {
    width: calc(100% - 80px);
    padding-left: 10px;
    padding-top: 7px;
  }
  >div{
    width: calc(100% - 85px);
    padding-right: 10px;
    @include bp(xs) {
      width: calc(100% - 60px);
    }
  }
}

.checkout-item__name{
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  @include bp(xs) {
    line-height: 130%;
  }
}

.checkout-item__id{
  display: block;
  font-size: 11px;
  line-height: 17px;
  margin-top: 5px;
  color: rgba($main, .5);
  @include bp(xs) {
    margin-top: 2px;
  }
}

.checkout-variations{
  font-size: 11px;
  line-height: 17px;
  margin-top: 2px;
  span{
    &:first-of-type{
      color: rgba($main, .5);
    }
  }
}

.checkout-item__price{
  width: 85px;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  @include bp(xs) {
    width: 60px;
  }
}

.checkout-discount{
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  @include bp(xs) {
    margin-top: 16px;
  }
  .input-wrapper{
    width: calc(100% - 117px);
  }
  .input{
    background-color: transparent;
  }
  .btn{
    width: 100px;
    border-radius: 5px;
    background: $grey;
    color: rgba($main, .5);
    @include bp(xs) {
      font-size: 12px;
      height: 40px;
    }
  }
}

.checkout-subtotal{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 19px;
  font-size: 14px;
  line-height: 21px;
  @include bp(xs) {
    align-items: baseline;
    font-size: 11px;
    line-height: 17px;
    margin-top: 20px;
  }
  span{
    &:last-child{
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.checkout-subtotal__shipping{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 8px;
  @include bp(xs) {
    align-items: baseline;
    margin-top: 12px;
  }
  .tooltip-wrapper{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    @include bp(xs) {
      font-size: 11px;
      line-height: 17px;
    }
    .tooltip-item{
      position: relative;
      z-index: 1;
      cursor: pointer;
      margin-left: 9px;
      top: auto;
      right: auto;
      >svg{
        opacity: 1;
      }
      &:hover{
        .tooltip-dialog{
          bottom: calc(100% + 20px);
        }
        >svg{
          opacity: .5;
        }
      }
      .tooltip-dialog{
        bottom: calc(100% + 5px);
      }
    }
  }
  >span{
    font-size: 12px;
    line-height: 18px;
    color: rgba($main, .5);
    &.shipping-price{
      font-size: 16px;
      line-height: 24px;
      color: $main;
    }
  }
}

.checkout-total{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 22px;
  padding-top: 11px;
  border-top: 1px solid $main;
  font-size: 21px;
  line-height: 32px;
  @include bp(xs) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
  }
}

.checkout-head__mob{
  position: relative;
  height: 50px;
  background-color: $bg-grey;
  display: none;
  align-items: center;
  justify-content: space-between;
  @include bp(md) {
    display: flex;
  }
  &.active{
    &:after{
      display: block;
    }
    .checkout-head__left{
      >svg{
        transform: scale(1, -1);
      }
    }
  }
  &:before{
    position: absolute;
    z-index: -1;
    content: '';
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    background-color: $bg-grey;
  }
  &:after{
    display: none;
    position: absolute;
    content: '';
    width: 100vw;
    height: 1px;
    background-color: $main;
    bottom: -1px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
  }
}

.checkout-head__left{
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 130%;
  >i{
    display: flex;
    position: relative;
    margin-right: 13px;
    font-style: normal;
    svg{
      width: 18px;
      height: 17px;
    }
    .checkout-head__counter{
      position: absolute;
      min-width: 15px;
      height: 15px;
      line-height: 1;
      padding: 3px 0 0;
      border-radius: 15px;
      text-align: center;
      background-color: $yellow;
      font-size: 10px;
      color: $main;
      right: -10px;
      top: -6px;
    }
  }
  >span{
    margin-right: 8px;
  }
}

.checkout-head__price{
  font-size: 12px;
  line-height: 18px;
}

.checkout-steps__edit{
  border: 1px solid rgba($main, .2);
  border-radius: 5px;
  margin-top: -4px;
  margin-bottom: 50px;
  @include bp(xs) {
    margin-top: -12px;
    margin-bottom: 30px;
  }
  >li{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 11px 22px;
    min-height: 40px;
    position: relative;
    @include bp(xs) {
      padding: 12px 15px;
    }
    &:after{
      position: absolute;
      content: '';
      width: calc(100% - 44px);
      height: 1px;
      background-color: rgba($main, .2);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      @include bp(xs) {
        width: calc(100% - 30px);
      }
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
    >div{
      display: flex;
      align-items: flex-start;
      width: calc(100% - 80px);
      font-size: 12px;
      line-height: 18px;
      @include bp(xs) {
        flex-direction: column;
      }
      >span{
        min-width: 68px;
        color: rgba($main, .5);
        @include bp(xs) {
          font-size: 11px;
          line-height: 17px;
        }
      }
      >ul{
        display: flex;
        flex-wrap: wrap;
        li{
          display: flex;
          align-items: center;
          &:after{
            content: '';
            width: 2px;
            height: 2px;
            border-radius: 2px;
            margin: 0 8px;
            background-color: rgba($main, .5);
          }
          &:last-child{
            &:after{
              display: none;
            }
          }
        }
      }
    }
    >a{
      display: flex;
      align-items: center;
      color: rgba($main, .5);
      text-decoration: underline;
      font-size: 12px;
      line-height: 18px;
      @include bp(xs) {
        font-size: 11px;
        line-height: 17px;
      }
      &:hover{
        color: $main;
        svg{
          path{
            opacity: 1;
          }
        }
      }
      svg{
        margin-left: 8px;
        @include bp(xs) {
          margin-left: 10px;
        }
        path{
          opacity: .5;
        }
      }
    }
  }
}

.checkout-payment{
  margin-bottom: 50px;
  @include bp(xs) {
    margin-bottom: 42px;
  }
}

.checkout-tabs{
  border: 1px solid rgba($main, .2);
  border-radius: 5px;
  overflow: hidden;
  >li{
    position: relative;
    &.active{
      .checkout-tabs__content{
        display: block;
      }
      input[type='radio']{
        +label{
          background: #FFF8EB;
        }
      }
      .checkout-radio{
        color: $main;
        >svg{
          circle{
            opacity: 1;
            +circle{
              opacity: 1;
            }
          }
        }
      }
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
    &:after{
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: rgba($main, .2);
    }
    .checkout-tabs__content{
      display: none;
      border-top: 1px solid rgba($main, .2);
    }
    input[type='radio']{
      display: none;
      +label{
        width: 100%;
        height: 60px;
        padding: 7px 30px 7px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer;
        @include bp(xs) {
          height: 45px;
          padding: 7px 15px;
        }
      }
    }
    .checkout-radio{
      font-size: 14px;
      line-height: 21px;
      color: rgba($main, .5);
      position: relative;
      padding-left: 29px;
      @include bp(xs) {
        font-size: 12px;
        line-height: 18px;
        padding-left: 27px;
      }
      >svg{
        position: absolute;
        left: 0;
        top: 4px;
        width: 14px;
        height: 14px;
        @include bp(xs) {
          top: 2px;
        }
        circle{
          opacity: .5;
          +circle{
            opacity: 0;
          }
        }
      }
    }
    .checkout-cards{
      display: flex;
      align-items: center;
      >img{
        margin-right: 12px;
        max-height: 15px;
        max-width: fit-content;
        object-fit: contain;
        @include bp(xs) {
          max-height: 11px;
          margin-right: 6px;
        }
        &:last-of-type{
          @include bp(xs) {
            margin-right: 12px;
          }
        }
      }
      >span{
        font-size: 11px;
        line-height: 17px;
        text-decoration: underline;
        color: rgba($main, .5);
        @include bp(xs) {
          font-size: 10px;
          line-height: 15px;
        }
      }
    }
    .paypal-pic{
      width: 80px;
      height: 43px;
      object-fit: contain;
      @include bp(xs) {
        width: 58px;
        height: 31px;
      }
    }
  }
}

.checkout-billing{
  margin-bottom: 26px;
  @include bp(xs) {
    margin-bottom: 30px;
  }
}
