.page-faq {
  padding: 77px 0 90px;
  @include bp(xs) {
    padding: 34px 0 50px;
  }
  .faq-wrapper{
    padding: 0 0 113px;
    @include bp(md) {
      padding-bottom: 90px;
    }
    @include bp(xs) {
      padding-bottom: 50px;
    }
  }
  .faq-item__head{
    background-color: $bg-grey;
  }
  .faq-item__body{
    background-color: $bg-grey;
  }
  .faq-buttons{
    position: relative;
    @include bp(xs) {
      position: static;
    }
    .btn{
      @include bp(xs) {
        width: 190px;
        height: 45px;
      }
    }
    >svg{
      position: absolute;
      top: 17px;
      right: 63px;
      @include bp(md) {
        top: 0;
      }
      @include bp(xs) {
        width: 50px;
        height: 50px;
        right: 37px;
        top: -9px;
      }
    }
  }
}

.faq-all{
  padding-top: 52px;
  border-top: 1px solid $main;
  @include bp(xs) {
    padding-top: 25px;
  }
  .faq-title{
    margin-bottom: 34px;
    @include bp(xs) {
      margin-bottom: 15px;
    }
  }
}

.faq-tabs{
  display: flex;
  @include bp(xs) {
    margin: 0 -5px -5px;
    flex-wrap: wrap;
  }
  >li{
    cursor: pointer;
    padding: 0 15px;
    width: max-content;
    min-width: 90px;
    height: 30px;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid $main;
    color: $main;
    border-radius: 30px;
    margin-right: 10px;
    @include bp(xs) {
      margin-right: 5px;
      margin-bottom: 5px;
      min-width: 70px;
      height: 20px;
      padding: 0 10px;
    }
    &:last-child{
      margin-right: 0;
    }
    &.active{
      background-color: $main;
      color: #fff;
    }
  }
}

.faq-tabs__content{
  display: none;
  padding-top: 36px;
  @include bp(xs) {
    padding-top: 30px;
  }
  &.active{
    display: block;
  }
  .faq-item__head, .faq-item__body{
    padding-left: 44px;
    @include bp(md) {
      padding-left: 30px;
    }
  }
}
