@import 'icons';

@font-face {
  font-family: 'Prompt';
  src: url('../fonts/Prompt-Regular.eot');
  src: url('../fonts/Prompt-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Prompt-Regular.woff') format('woff');
  src: url('../fonts/Prompt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('../fonts/Prompt-Medium.eot');
  src: url('../fonts/Prompt-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Prompt-Medium.woff') format('woff');
  src: url('../fonts/Prompt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nokora';
  src: url('../fonts/Nokora-Bold.eot');
  src: url('../fonts/Nokora-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nokora-Bold.woff') format('woff');
  src: url('../fonts/Nokora-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
