.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  border-radius: 0;
  padding-top: 30px;
  border-top: 1px solid $main;
  @include bp(xs) {
    padding-top: 20px;
  }
  >.prev, >.next{
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    border: 1px solid $main;
    color: $main;
    text-decoration: none;
    @include bp(xs) {
      width: 25px;
      height: 25px;
    }
    &:hover{
      background-color: $main;
      svg{
        path{
          fill: #fff;
        }
      }
    }
    svg{
      @include bp(xs) {
        width: 10.61px;
        height: 10.61px;
      }
    }
  }
  >ul{
    display: flex;
    align-items: center;
    margin: 0 30px;
    @include bp(xs) {
      margin: 0 15px;
    }
    li {
      margin: 0 6px;
      @include bp(xs) {
        margin: 0 2px;
      }
      span {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 29px;
        height: 29px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        background-color: $yellow;
        color: #fff;
        cursor: default;
        @include bp(xs) {
          width: 25px;
          height: 25px;
          font-size: 12px;
          line-height: 18px;
        }
      }
      a {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 29px;
        height: 29px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        background-color: #fff;
        color: $main;
        @include bp(xs) {
          width: 25px;
          height: 25px;
          font-size: 12px;
          line-height: 18px;
        }
        &:hover {
          background-color: $bg-grey;
        }
      }
    }
  }
}
