.mfp-bg {
  background: rgba(28, 53, 87, 0.7);
}

.mfp-container {
  padding: 0;
}

.mfp-ready .mfp-with-zoom {
  opacity: 1;
  transform: scale(1);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.popup {
  position: relative;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  max-width: calc(100vw - 30px);
  .mfp-close {
    width: 24px;
    height: 24px;
    background-color: transparent;
    top: 22px;
    right: 24px;
    font-size: 0;
    opacity: 1;
    cursor: pointer;
    @include bp(xs) {
      width: 20px;
      height: 20px;
      top: 14px;
      right: 11px;
    }
    svg{
      pointer-events: none;
      @include bp(xs) {
        width: 20px;
        height: 20px;
      }
    }
    &:hover {
      svg{
        path{
          fill: $red;
        }
      }
    }
  }
  .input, .textarea{
    border-color: $main;
  }
}

.popup-title{
  display: block;
  font-family: $title;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  color: $main;
  text-align: center;
  @include bp(xs) {
    font-size: 24px;
    line-height: 110%;
  }
}

.reviews-popup{
  width: 770px;
  padding: 64px 150px 72px;
  @include bp(md) {
    padding: 64px 110px 72px;
  }
  @include bp(sm) {
    padding: 64px 50px 72px;
  }
  @include bp(xs) {
    padding: 35px 15px 40px;
  }
  .popup-title{
    margin-bottom: 27px;
    @include bp(xs) {
      max-width: 190px;
      margin: 0 auto 15px;
    }
  }
}

.reviews-form{
  .textarea{
    @include bp(xs) {
      height: 90px;
    }
  }
}

.reviews-form__row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  @include bp(xs) {
    flex-direction: column;
    margin-bottom: 0;
  }
  .input-wrapper{
    width: calc(50% - 7px);
    @include bp(xs) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.review-form__rating {
  padding: 11px 0 18px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba($main, .1);
  align-items: center;
  @include bp(xs) {
    padding: 10px 0 20px;
    margin-bottom: 15px;
  }
  > span {
    font-size: 14px;
    line-height: 21px;
    @include bp(xs) {
      font-size: 12px;
      line-height: 18px;
    }
  }
  .rating {
    margin-right: -5px;
  }
  .rating > input ~ label {
    cursor: pointer;
  }
  .rating > input {
    display: none;
  }
  .rating > label:before {
    display: block;
    content: "";
    width: 13px;
    height: 13px;
    // star-empty
    -webkit-mask: url("../images/icons/star-empty.svg");
    mask: url("../images/icons/star-empty.svg");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #D9D9D9;
    margin-right: 5px;
  }
  .rating > label {
    width: auto;
    float: right;
    margin-right: 0;
    margin-bottom: 0;
  }
  .rating:not(:checked) > label:hover:before,
  .rating:not(:checked) > label:hover ~ label:before,
  .rating > input:checked + label:hover:before,
  .rating > input:checked ~ label:before,
  .rating > input:checked ~ label:hover:before,
  .rating > input:checked ~ label:hover ~ label:before,
  .rating > label:hover ~ input:checked ~ label:before {
    // star-full
    -webkit-mask: url("../images/icons/star-fill.svg");
    mask: url("../images/icons/star-fill.svg");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: $yellow;
  }
  .rating > input:checked ~ label:before {
    // star-full
    -webkit-mask: url("../images/icons/star-fill.svg");
    mask: url("../images/icons/star-fill.svg");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: $yellow;
  }
}

.reviews-form__footer{
  display: flex;
  justify-content: space-between;
  @include bp(xs) {
    flex-direction: column;
  }
  .checkbox-wrapper{
    width: calc(100% - 224px);
    @include bp(xs) {
      width: 100%;
    }
    input{
      +label{
        color: $main;
      }
    }
  }
  .btn{
    width: 210px;
    @include bp(xs) {
      width: 100%;
      margin-top: 24px;
    }
  }
}

.reviews-form__upload{
  border-bottom: 1px solid rgba($main, .1);
  margin-top: -15px;
  margin-bottom: 33px;
  @include bp(xs) {
    margin: 0 0 20px;
  }
  >input{
    display: none;
    +label{
      font-weight: 400;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      cursor: pointer;
      @include bp(xs) {
        margin-bottom: 15px;
      }
      >svg{
        margin-right: 14px;
        @include bp(xs) {
          margin-right: 10px;
        }
      }
      >div{
        font-size: 14px;
        line-height: 21px;
        @include bp(xs) {
          font-size: 12px;
          line-height: 18px;
        }
        span{
          color: rgba($main, .5);
        }
      }
    }
  }
  .uploaded-files{
    display: flex;
    flex-wrap: wrap;
    @include bp(xs) {
      margin-bottom: 5px;
    }
  }
  .file-preview{
    display: flex;
    align-items: center;
    max-width: 178px;
    padding-right: 15px;
    margin-bottom: 10px;
    @include bp(xs) {
      width: 100%;
      max-width: 100%;
    }
    img{
      width: 34px;
      height: 42px;
      margin-right: 6px;
      border-radius: 5px;
      object-fit: cover;
    }
    .file-name{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .remove-file{
      position: relative;
      cursor: pointer;
      display: flex;
      margin-left: 8px;
      &:hover{
        >svg{
          opacity: 1;
        }
      }
      >svg{
        opacity: .5;
      }
      &:before{
        position: absolute;
        content: '';
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        left: -5px;
        top: -5px;
      }
    }
  }
  .uploaded-error{
    display: none;
    font-size: 14px;
    line-height: 21px;
    color: $red;
    margin-bottom: 10px;
    @include bp(xs) {
      font-size: 12px;
      line-height: 18px;
    }
    &.active{
      display: block;
    }
  }
}

.reviews-popup__success{
  width: 770px;
  padding: 64px 150px 80px;
  opacity: 0;
  transform: scale(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  @include bp(md) {
    padding: 64px 110px 80px;
  }
  @include bp(sm) {
    padding: 64px 50px 80px;
  }
  @include bp(xs) {
    padding: 35px 15px 40px;
  }
  .popup-title{
    margin-bottom: 30px;
    @include bp(xs) {
      margin: 0 auto 15px;
    }
  }
  .mfp-close{
    &.btn{
      position: static;
      font-size: 16px;
      color: #fff;
      background-color: $main;
      width: 210px;
      height: 50px;
      margin: 20px auto 0;
      @include bp(xs) {
        height: 45px;
        width: 200px;
        font-size: 14px;
      }
    }
  }
}

.reviews-popup__success-txt{
  margin: 0 auto;
  max-width: 370px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  @include bp(xs) {
    font-size: 14px;
    line-height: 20px;
  }
}

.callback-popup{
  width: 770px;
  padding: 64px 150px 62px;
  @include bp(md) {
    padding: 64px 110px 62px;
  }
  @include bp(sm) {
    padding: 64px 50px 62px;
  }
  @include bp(xs) {
    padding: 35px 15px 40px;
  }
  .popup-title{
    margin-bottom: 27px;
    @include bp(xs) {
      margin: 0 auto 15px;
    }
  }
}

.callback-form{
  .input-wrapper{
    margin-bottom: 20px;
    @include bp(xs) {
      margin-bottom: 10px;
    }
  }
  .textarea{
    @include bp(xs) {
      height: 90px;
    }
  }
}

.callback-form__row{
  display: flex;
  justify-content: space-between;
  @include bp(xs) {
    flex-direction: column;
  }
  .input-wrapper{
    width: calc(50% - 7px);
    @include bp(xs) {
      width: 100%;
    }
  }
}

.callback-form__footer{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  @include bp(xs) {
    flex-direction: column;
  }
  .checkbox-wrapper{
    width: calc(100% - 224px);
    @include bp(xs) {
      width: 100%;
    }
    input{
      +label{
        color: $main;
      }
    }
  }
  .btn{
    width: 210px;
    @include bp(xs) {
      width: 100%;
      margin-top: 24px;
    }
  }
}

.cart-popup {
  width: 570px;
}

.cart-popup__header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 76px;
  padding-top: 4px;
  border-bottom: 1px solid $main;
  @include bp(xs) {
    height: 64px;
    padding-top: 6px;
  }
}

.cart-popup__body {
  padding: 18px 50px 18px 17px;
  overflow: auto;
  max-height: 222px;
  @include bp(xs) {
    max-height: 240px;
    padding: 15px 15px 20px;
  }
  &::-webkit-scrollbar {
    overflow-y: scroll;
    background: transparent;
    width: 5px;
    transition: linear .2s;
    box-shadow: 1px 0 0 transparent;
    @include bp(xs) {
      width: 3px;
    }
  }
  &::-webkit-scrollbar-thumb {
    background: $main;
    border-radius: 0;
    width: 5px;
    transition: linear .2s;
    cursor: grab;
    @include bp(xs) {
      width: 3px;
    }
  }
  .cart-popup__items {
    overflow: hidden;
  }
  .cart-popup__item {
    min-height: 80px;
    position: relative;
    @include bp(xs) {
      min-height: 84px;
      padding-bottom: 27px;
    }
    +.cart-popup__item {
      margin-top: 25px;
      @include bp(xs) {
        margin-top: 30px;
      }
    }
    &:last-child{
      .cart-popup__item-variations{
        .cart-popup__item-variation-current{
          &.active{
            +.cart-popup__item-variations-list{
              top: auto;
              bottom: calc(100% + 3px);
            }
          }
        }
        .cart-popup__item-variations-list{
          top: auto;
          bottom: calc(100% + 10px);
        }
      }
    }
    .cart-popup__wrapper {
      display: flex;
      align-items: center;
      @include bp(xs) {
        align-items: flex-start;
      }
    }
    .cart-popup__item-remove {
      margin-right: 9px;
      margin-top: 5px;
      padding: 5px;
      cursor: pointer;
      transition: all ease-in-out 0.2s;
      position: relative;
      z-index: 1;
      display: flex;
      align-self: flex-start;
      opacity: .5;
      @include bp(xs) {
        padding: 0;
        margin-right: 0;
      }
      &:after{
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        top: 0;
        left: 0;
        @include bp(xs) {
          left: -5px;
          top: -5px;
        }
      }
      svg{
        @include bp(xs) {
          width: 14px;
          min-width: 14px;
          height: 14px;
        }
      }
      &:hover {
        opacity: 1;
      }
    }
    .cart-popup__item-pic {
      width: 80px;
      min-width: 80px;
      height: 80px;
      margin-right: 11px;
      @include bp(xs) {
        width: 54px;
        min-width: 54px;
        height: 54px;
        margin-right: 10px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: top;
      }
    }
    .cart-popup__item-info{
      display: flex;
      width: calc(100% - 91px);
      @include bp(xs) {
        width: calc(100% - 64px);
      }
    }
    .cart-popup__item-left{
      width: calc(100% - 130px);
      padding-right: 10px;
      @include bp(xs) {
        width: 100%;
        padding: 0;
      }
    }
    .cart-popup__item-name{
      display: block;
      font-size: 14px;
      line-height: 130%;
      color: $main;
      text-decoration: none;
      &:hover {
        color: $red;
        text-decoration: none;
      }
    }
    .cart-popup__item-id{
      display: block;
      margin-top: 3px;
      font-size: 12px;
      line-height: 18px;
      color: rgba($main, .5);
    }
    .cart-popup__item-variations{
      display: flex;
      font-size: 12px;
      line-height: 18px;
      margin-top: 2px;
      @include bp(xs) {
        margin-bottom: 10px;
      }
      >span{
        color: rgba($main, .5);
        margin-right: 5px;
      }
      >div{
        position: relative;
      }
      .cart-popup__item-variation-current{
        display: flex;
        align-items: center;
        cursor: pointer;
        svg{
          margin-left: 16px;
        }
        &.active{
          +.cart-popup__item-variations-list{
            top: calc(100% + 3px);
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .cart-popup__item-variations-list{
        position: absolute;
        background-color: #fff;
        z-index: 1;
        top: calc(100% + 10px);
        left: 0;
        width: max-content;
        min-width: 80px;
        padding: 10px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        visibility: hidden;
        opacity: 0;
        transition: linear .2s;
        li{
          cursor: pointer;
          margin-bottom: 3px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
    .cart-popup__item-right{
      width: 130px;
      @include bp(xs) {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
      }
      .product-counter{
        width: 100%;
        @include bp(xs) {
          width: 130px;
          margin-bottom: 0;
        }
        >input{
          width: calc(100% - 60px);
          height: 22px;
          font-size: 14px;
        }
        >span{
          width: 25px;
          height: 22px;
          &.minus {
            svg{
              width: 9px;
              height: 2px;
            }
          }
          &.plus {
            svg{
              width: 9px;
              height: 9px;
            }
          }
        }
      }
    }
    .cart-popup__item-price{
      margin-top: 14px;
      margin-left: auto;
      width: max-content;
      font-size: 14px;
      line-height: 21px;
      @include bp(xs) {
        margin-top: 0;
      }
    }
  }
}

.cart-popup__footer {
  padding: 20px 50px 46px 56px;
  border-top: 1px solid $main;
  @include bp(xs) {
    padding: 8px 15px 25px;
  }
  .cart-popup__total {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 36px;
    >span{
      font-size: 16px;
      line-height: 24px;
      margin-top: 6px;
      @include bp(xs) {
        font-size: 11px;
        line-height: 17px;
        margin-top: 5px;
      }
    }
    >div{
      text-align: right;
      @include bp(xs) {
        max-width: 55%;
      }
    }
  }
  .cart-popup__total-price{
    display: block;
    font-size: 21px;
    line-height: 32px;
    @include bp(xs) {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .cart-popup__total-footnote{
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: rgba($main, .5);
    @include bp(xs) {
      font-size: 12px;
      line-height: 130%;
      margin-top: 5px;
    }
    a{
      color: rgba($main, .5);
      text-decoration: underline;
      &:hover{
        color: $red;
        text-decoration: none;
      }
    }
  }
  .cart-popup__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include bp(xs) {
      flex-direction: column;
    }
    .btn{
      &.mfp-close {
        position: static;
        margin-right: 14px;
        width: 203px;
        height: 50px;
        font-size: 16px;
        @include bp(xs) {
          width: 100%;
          height: 45px;
          font-size: 14px;
          margin-right: 0;
        }
        &:hover {
          color: #fff;
          background-color: $main;
        }
      }
      &.cart-popup__order {
        width: 247px;
        @include bp(xs) {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
}

.oneclick-popup__body{
  padding: 18px 50px 36px;
  @include bp(xs) {
    padding: 11px 15px 28px;
  }
  .cart-popup__item {
    min-height: 80px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
    @include bp(xs) {
      align-items: flex-start;
      min-height: 84px;
      padding-bottom: 27px;
      margin-bottom: 20px;
    }
    .cart-popup__item-pic {
      width: 80px;
      min-width: 80px;
      height: 80px;
      margin-right: 11px;
      @include bp(xs) {
        width: 54px;
        min-width: 54px;
        height: 54px;
        margin-right: 20px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: top;
      }
    }
    .cart-popup__item-info{
      display: flex;
      width: calc(100% - 91px);
      @include bp(xs) {
        width: calc(100% - 74px);
      }
    }
    .cart-popup__item-left{
      width: calc(100% - 130px);
      padding-right: 10px;
      @include bp(xs) {
        width: 100%;
        padding: 0;
      }
    }
    .cart-popup__item-name{
      display: block;
      font-size: 14px;
      line-height: 130%;
      color: $main;
      text-decoration: none;
      &:hover {
        color: $red;
        text-decoration: none;
      }
    }
    .cart-popup__item-id{
      display: block;
      margin-top: 3px;
      font-size: 12px;
      line-height: 18px;
      color: rgba($main, .5);
    }
    .cart-popup__item-variations{
      display: flex;
      font-size: 12px;
      line-height: 18px;
      margin-top: 2px;
      @include bp(xs) {
        margin-bottom: 10px;
      }
      >span{
        color: rgba($main, .5);
        margin-right: 5px;
      }
      >div{
        position: relative;
      }
      .cart-popup__item-variation-current{
        display: flex;
        align-items: center;
        cursor: pointer;
        svg{
          margin-left: 16px;
        }
        &.active{
          +.cart-popup__item-variations-list{
            top: calc(100% + 3px);
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .cart-popup__item-variations-list{
        position: absolute;
        background-color: #fff;
        z-index: 1;
        top: calc(100% + 10px);
        left: 0;
        width: max-content;
        min-width: 80px;
        padding: 10px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        visibility: hidden;
        opacity: 0;
        transition: linear .2s;
        li{
          cursor: pointer;
          margin-bottom: 3px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
    .cart-popup__item-right{
      width: 130px;
      @include bp(xs) {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
      }
      .product-counter{
        width: 100%;
        @include bp(xs) {
          width: 130px;
          margin-bottom: 0;
        }
        >input{
          width: calc(100% - 60px);
          height: 22px;
          font-size: 14px;
        }
        >span{
          width: 25px;
          height: 22px;
          &.minus {
            svg{
              width: 9px;
              height: 2px;
            }
          }
          &.plus {
            svg{
              width: 9px;
              height: 9px;
            }
          }
        }
      }
    }
    .cart-popup__item-price{
      margin-top: 14px;
      margin-left: auto;
      width: max-content;
      font-size: 14px;
      line-height: 21px;
      @include bp(xs) {
        margin-top: 0;
      }
    }
  }
}

.oneclick-form{
  .textarea{
    @include bp(xs) {
      height: 80px;
    }
  }
  .input-wrapper{
    margin-bottom: 20px;
    @include bp(xs) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .btn{
    width: 210px;
    margin: 15px auto 0;
    @include bp(xs) {
      width: 100%;
    }
  }
}

.oneclick-form__row{
  display: flex;
  justify-content: space-between;
  @include bp(xs) {
    flex-direction: column;
    margin-bottom: 0;
  }
  .input-wrapper{
    width: calc(50% - 7px);
    @include bp(xs) {
      width: 100%;
    }
  }
}

.oneclick-form__footnote{
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  @include bp(xs) {
    margin-top: 11px;
    font-size: 14px;
    line-height: 110%;
  }
}


// availability-popup (Повідомити про наявність товара)
.availability-popup {
  padding: 29px 46px 43px 45px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1) !important;
  width: 570px;
  max-width: calc(100vw - 30px);
  @include bp(xs) {
    padding: 29px 18px 18px;
  }
}

.availability-popup__title {
  margin-bottom: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 29px;
  color: $main;
  text-align: center;
  @include bp(xs) {
    font-size: 21px;
    line-height: 20px;
    margin-bottom: 15px;
  }
}

.availability-popup__subtitle {
  display: block;
  max-width: 400px;
  margin: 0 auto 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: $main;
  text-align: center;
  @include bp(xs) {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.availability-popup__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
  border-radius: 10px;
  overflow: hidden;
  padding: 30px 65px 22px 61px;
  @include bp(xs) {
    padding: 13px 7px;
    margin-bottom: 15px;
  }
}

.availability-popup__item {
  display: flex;
}

.availability-popup__item-pic {
  flex-shrink: 0;
  width: 84px;
  max-height: 100px;
  margin-right: 7px;
  @include bp(xs) {
    width: 65px;
    max-height: 65px;
    margin-right: 11px;
  }
  & picture {
    width: 100%;
    height: 100%;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.availability-popup-about {
  padding-top: 11px;
  @include bp(xs) {
    width: calc(100% - 76px);
    padding-top: 0;
  }
  & a {
    display: block;
    margin-bottom: -3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: $main;
    @include bp(xs) {
      font-size: 12px;
      margin-bottom: 6px;
    }
  }
  & span {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    @include bp(xs) {
      display: block;
    }
  }
}

.availability-form__wrapper {
  display: flex;
  gap: 21px;
  margin-bottom: 23px;
  @include bp(xs) {
    flex-direction: column;
    gap: 0;
    margin-bottom: 0;
  }
}

.availability-form__inner {
  width: 50%;
  @include bp(xs) {
    width: 100%;
    margin-bottom: 11px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    @include bp(xs) {
      display: block;
      margin-bottom: 3px;
    }
  }
  & .input {
    background: #FFFFFF;
    border-radius: 3px;
  }
}

.availability-form__btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  padding: 10px 20px;
  height: 45px;
  border-radius: 40px;
  border: 1px solid $main;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  background-color: #F7F7F7;
  transition: all ease-in-out 0.2s;
  @include bp(xs) {
    margin-top: 13px;
    padding: 12px 20px;
    height: auto;
    min-height: 40px;
    font-size: 14px;
    flex-wrap: nowrap;
    text-align: left;
  }
  @include bp(xxs) {
    align-items: flex-start;
  }
  svg {
    margin-top: -2px;
    margin-right: 7px;
    @include bp(xs) {
      margin-top: 0;
      width: 13px;
      min-width: 13px;
      height: auto;
    }
  }
  &:hover {
    color: #fff;
    background-color: $main;
    svg path{
      fill: #fff;
    }
  }
}

.popup-service {
  padding: 29px 45px 51px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 570px;
  max-width: calc(100vw - 30px);
  @include bp(xs) {
    padding: 29px 18px 48px;
  }
}

.popup-service__title {
  margin-bottom: 21px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 29px;
  color: $main;
  text-align: center;
  @include bp(xs) {
    font-size: 21px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

.popup-service__form-text{
  max-width: 390px;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  margin: 0 auto 14px;
  @include bp(xs) {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.popup-service__form-fields{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  @include bp(xs) {
    flex-direction: column;
  }
  .btn{
    height: 45px;
    width: calc(50% - 8px);
    @include bp(xs) {
      height: 40px;
      width: 100%;
      margin-top: 20px;
    }
  }
}

.popup-service__form-inner{
  width: calc(50% - 8px);
  @include bp(xs) {
    width: 100%;
  }
  >label{
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 12px;
    @include bp(xs) {
      display: block;
      margin-bottom: 3px;
    }
  }
}

.popup-questions{
  padding: 29px 45px 44px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 570px;
  max-width: calc(100vw - 30px);
  @include bp(xs) {
    padding: 29px 18px 31px;
  }
}

.popup-questions__title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 29px;
  color: $main;
  text-align: center;
  @include bp(xs) {
    font-size: 21px;
    line-height: 20px;
    margin-bottom: 12px;
  }
}

.popup-questions__text{
  max-width: 420px;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  margin: 0 auto 33px;
  @include bp(xs) {
    font-size: 14px;
    margin-bottom: 21px;
  }
}

.popup-questions__form{
  .btn{
    width: 235px;
    height: 45px;
    margin-top: 27px;
    @include bp(xs) {
      width: 100%;
      height: 40px;
      margin-top: 15px;
    }
  }
}

.popup-questions__form-inner{
  >label{
    font-weight: 400;
    margin-bottom: 5px;
    display: block;
    font-size: 12px;
    line-height: 12px;
    @include bp(xs) {
      margin-bottom: 3px;
    }
  }
  .textarea{
    display: block;
    height: 62px;
    @include bp(xs) {
      height: 90px;
    }
  }
}

.popup-questions__form-row{
  margin-bottom: 15px;
  @include bp(xs) {
    margin-bottom: 11px;
  }
  &.two-inputs{
    display: flex;
    justify-content: space-between;
    @include bp(xs) {
      flex-direction: column;
    }
    .popup-questions__form-inner{
      width: calc(50% - 8px);
      @include bp(xs) {
        width: 100%;
      }
      +.popup-questions__form-inner{
        @include bp(xs) {
          margin-top: 11px;
        }
      }
    }
  }
}

.swal2-container{
  padding: 0;
}

.swal2-container.swal2-shown{
  background: rgba(28, 53, 87, 0.7);
}

.swal2-modal {
  width: 770px !important;
  max-width: calc(100vw - 30px) !important;
  background: #fff !important;
  font-family: $default;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.03) !important;
  border-radius: 10px;
  min-height: 338px;
  padding: 64px 150px !important;
  overflow: visible;
  @include bp(md) {
    padding: 64px 110px !important;
  }
  @include bp(sm) {
    padding: 64px 50px !important;
  }
  @include bp(xs) {
    min-height: unset;
    padding: 35px 15px 40px !important;
  }
  .swal2-icon {
    display: none !important;
  }
  .swal2-title {
    font-family: $title;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    color: $main;
    margin-bottom: 20px;
    text-align: center;
    @include bp(xs) {
      font-size: 24px;
      line-height: 110%;
      margin-bottom: 15px;
    }
  }
  .swal2-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-family: $default;
    color: $main;
    @include bp(xs) {
      font-size: 14px;
      line-height: 20px;
      margin: 0 auto;
    }
  }
  .swal2-buttonswrapper {
    margin-top: 24px;
    display: flex !important;
    flex-direction: row-reverse;
    @include bp(xs) {
      margin-top: 20px;
      gap: 10px;
    }
  }
  .swal2-styled {
    margin: 0 auto;
    width: 210px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: $main !important;
    border: none !important;
    border-radius: 300px;
    transition: all ease-in-out 0.2s;
    box-shadow: none !important;
    @include bp(xs) {
      width: 200px;
      height: 45px;
      font-size: 14px;
    }
    &:hover {
      background: $red !important;
    }
    &.swal2-cancel{
      border: 1px solid $main !important;
      background: transparent !important;
      color: $main;
      &:hover{
        background: $main !important;
        color: #fff;
      }
    }
  }
  .swal2-close{
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    top: 22px;
    right: 24px;
    opacity: 1;
    padding: 0;
    cursor: pointer;
    @include bp(xs) {
      width: 20px;
      height: 20px;
      top: 14px;
      right: 11px;
    }
    &:hover {
      &:before {
        background-color: $red;
      }
    }
    &:before{
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      -webkit-mask: url("../images/icons/popup-close.svg");
      mask: url("../images/icons/popup-close.svg");
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      background-color: $main;
      @include bp(xs) {
        width: 20px;
        height: 20px;
      }
    }
  }
}
