.product-page {
  padding-bottom: 40px;
  @include bp(xs) {
    padding-bottom: 45px;
  }
  .breadcrumbs-wrapper{
    padding-top: 20px;
    @include bp(xs) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .breadcrumbs{
    margin-bottom: 45px;
    color: rgba($main, .5);
    @include bp(xs) {
      margin-bottom: 5px;
    }
    a {
      color: rgba($main, .5);
      &:hover, &:focus {
        color: $main;
        &:before {
          color: rgba($main, .5);
        }
      }
      &:before {
        color: rgba($main, .5);
      }
    }
    span {
      &:before {
        color: rgba($main, .5);
      }
      &:first-child {
        &:before {
          color: rgba($main, .5);
        }
      }
    }
  }
}

.product-main__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  @include bp(xs) {
    margin-bottom: 40px;
  }
}

.product-main__photo {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.product-label {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 0;
  min-width: 77px;
  height: 20px;
  width: fit-content;
  background: #FF5C1B;
  border-radius: 2px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 15px;
  font-size: 12px;
  line-height: 18px;
  pointer-events: none;
  @include bp(xs) {
    top: 10px;
    min-width: 50px;
    height: 15px;
    line-height: 1;
    padding: 2px 8px 0;
  }
}

.product-zoom{
  display: flex;
  position: absolute;
  pointer-events: none;
  z-index: 1;
  right: 17px;
  bottom: 17px;
  @include bp(xs) {
    right: 22px;
    bottom: 22px;
    width: 15px;
    height: 15px;
  }
  svg{
    @include bp(xs) {
      width: 100%;
      height: 100%;
    }
  }
}

.product-slider {
  width: 100%;
  height: 430px;
  min-height: 430px;
  max-height: 430px;
  overflow: hidden;
  @include bp(md) {
    height: calc(92vw - 60px);
    min-height: calc(92vw - 60px);
    max-height: calc(92vw - 60px);
  }
  @include bp(xs) {
    height: calc(92.2vw - 30px);
    min-height: calc(92.2vw - 30px);
    max-height: calc(92.2vw - 30px);
  }
  .slide {
    height: 430px;
    min-height: 430px;
    max-height: 430px;
    cursor: zoom-in;
    display: flex !important;
    align-items: center;
    @include bp(md) {
      height: calc(92vw - 60px);
      min-height: calc(92vw - 60px);
      max-height: calc(92vw - 60px);
    }
    @include bp(xs) {
      height: calc(92.2vw - 30px);
      min-height: calc(92.2vw - 30px);
      max-height: calc(92.2vw - 30px);
    }
    &.video-item{
      &:hover{
        >svg{
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
      >svg{
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: linear .2s;
      }
    }
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
    video{
      width: 100%;
    }
    .embed-responsive {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.product-nav {
  height: 85px;
  min-height: 85px;
  overflow: hidden;
  margin: 20px -5px 0;
  @include bp(md) {
    height: 17vw;
    min-height: 17vw;
  }
  @include bp(xs) {
    margin-right: -15px;
    height: calc(29.7vw - 15px);
    min-height: calc(29.7vw - 15px);
  }
  .slick-slide {
    height: 85px;
    min-height: 85px;
    padding: 0 5px;
    cursor: pointer;
    @include bp(md) {
      height: 17vw;
      min-height: 17vw;
    }
    @include bp(xs) {
      height: calc(29.7vw - 15px);
      min-height: calc(29.7vw - 15px);
      width: calc(29.7vw - 5px);
    }
    &.slick-current{
      .slide {
        &:after{
          opacity: 1;
          visibility: visible;
        }
      }
    }
    > div {
      height: 100%;
    }
    &:hover {
      .slide {
        img{
          opacity: .85;
        }
      }
    }
  }
  .slide {
    width: 100%;
    height: 85px;
    min-height: 85px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    @include bp(md) {
      height: 17vw;
      min-height: 17vw;
    }
    @include bp(xs) {
      height: calc(29.7vw - 15px);
      min-height: calc(29.7vw - 15px);
      width: calc(29.7vw - 15px);
    }
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 5px;
      border: 1px solid $main;
      opacity: 0;
      visibility: hidden;
      transition: linear .2s;
      pointer-events: none;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: linear .2s;
    }
    &.video-preview {
      > svg {
        pointer-events: none;
        position: absolute;
        z-index: 1;
        width: 50px;
        height: 50px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @include bp(xs) {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}

.product-info {
  padding-left: 30px;
  @include bp(lg) {
    padding-left: 0;
  }
  @include bp(md) {
    margin-top: 30px;
  }
  @include bp(xs) {
    margin-top: 20px;
  }
}

.product-info__head {
  margin-bottom: 11px;
  @include bp(md) {
    display: none;
  }
  &-mob{
    display: none;
    margin-bottom: 20px;
    @include bp(md) {
      display: block;
    }
  }
}

.product-availability__wrapper{
  display: flex;
  font-size: 12px;
  line-height: 18px;
  color: rgba($main, .5);
  margin-bottom: 11px;
  @include bp(xs) {
    margin-bottom: 5px;
  }
}

.product-id {
  margin-right: 15px;
}

.product-availability {
  font-size: 12px;
  line-height: 18px;
  text-transform: capitalize;
  margin-left: 16px;
  color: #43B02A;
  &.not-available {
    color: #FF5C1B;
  }
}

.product-title{
  font-family: $title;
  font-weight: 700;
  font-size: 42px;
  line-height: 110%;
  margin-top: 0;
  @include bp(xs) {
    font-size: 28px;
    line-height: 110%;
    margin-bottom: 10px;
  }
}

.product-rating{
  display: flex;
  align-items: center;
  .rating-stars{
    margin-right: 5px;
    @include bp(xs) {
      margin-right: 10px;
    }
  }
  >span{
    font-size: 11px;
    line-height: 17px;
    color: rgba($main, .5);
    margin-right: 9px;
    @include bp(xs) {
      margin-right: 6px;
    }
  }
  >a{
    display: flex;
    align-items: center;
    font-size: 11px;
    line-height: 17px;
    color: rgba($main, .5);
    text-decoration: underline;
    text-transform: capitalize;
    &:hover{
      >svg{
        path{
          opacity: 1;
          fill: $red;
        }
      }
    }
    >svg{
      margin-left: 9px;
      path{
        opacity: .5;
      }
    }
  }
}

.product-price {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}

.normal-price {
  font-size: 30px;
  line-height: 45px;
  margin-right: 9px;
}

.old-price {
  font-size: 16px;
  line-height: 24px;
  text-decoration: line-through;
  color: rgba($main, .5);
}

.product-info__short-description{
  font-size: 13px;
  line-height: 150%;
  color: rgba($main, .5);
  margin-bottom: 23px;
  @include bp(xs) {
    margin-bottom: 15px;
  }
  >*{
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.product-info__specs{
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 4px;
  @include bp(xs) {
    margin-right: -10px;
    padding-bottom: 22px;
  }
  li{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    @include bp(xs) {
      margin-bottom: 4px;
    }
    &:after{
      content: '|';
      margin-left: 12px;
      margin-right: 12px;
      font-size: 12px;
      line-height: 18px;
      color: rgba($main, .2);
      @include bp(xs) {
        margin: 0 10px;
      }
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
    span{
      color: rgba($main, .5);
      margin-right: 5px;
    }
  }
}

.product-variations__wrapper{
  display: flex;
  align-items: flex-start;
  border-top: 1px solid rgba($main, .2);
  padding: 10px 0;
  @include bp(xs) {
    padding: 15px 0 20px;
    flex-direction: column;
  }
  >div{
    font-size: 13px;
    line-height: 20px;
    min-width: max-content;
    margin: 27px 18px 27px 0;
    @include bp(xs) {
      margin: 0 0 4px 0;
    }
    span{
      color: rgba($main, .5);
    }
  }
  >ul{
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    li{
      margin: 5px 10px 5px 0;
      @include bp(xs) {
        margin: 0 10px 0 0;
      }
      &:last-child{
        margin-right: 0;
      }
      &.current{
        a{
          border-color: $main;
        }
      }
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65px;
        height: 65px;
        border: 1px solid rgba($main, .1);
        border-radius: 5px;
        padding: 10px;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.product-info__bottom{
  border-top: 1px solid rgba($main, .2);
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  @include bp(xs) {
    flex-direction: column;
    padding-top: 15px;
  }
}

.product-quantity{
  >span{
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: -11px;
    color: rgba($main, .5);
    @include bp(xs) {
      margin-top: 0;
    }
  }
}

.product-counter {
  width: 170px;
  display: flex;
  justify-content: space-between;
  @include bp(lg) {
    width: 140px;
  }
  @include bp(md) {
    width: 170px;
  }
  @include bp(xs) {
    width: 100%;
    margin-bottom: 20px;
  }
  > input {
    font-size: 18px;
    line-height: 27px;
    height: 30px;
    width: calc(100% - 78px);
    background-color: transparent;
    border: 1px solid rgba($main, .5);
    border-radius: 5px;
    text-align: center;
  }
  > span {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 34px;
    height: 30px;
    border: 1px solid rgba($main, .5);
    border-radius: 5px;
    &.minus{
      svg{
        width: 14px;
        height: 3px;
      }
      &.disabled{
        svg{
          opacity: .5;
        }
      }
    }
    &.plus{
      svg{
        width: 14px;
        height: 14px;
      }
    }
  }
}

.product-buttons__group {
  display: flex;
  .btn {
    min-width: max-content;
    height: 50px;
    @include bp(lg) {
      height: 45px;
      font-size: 14px;
    }
    @include bp(md) {
      height: 50px;
      font-size: 16px;
    }
    @include bp(sm) {
      height: 45px;
      font-size: 14px;
    }
    @include bp(xs) {
      padding: 0 10px;
    }
    svg {
      margin-right: 14px;
      @include bp(xs) {
        margin-right: 9px;
      }
    }
    &.btn-consult {
      width: 186px;
      margin-right: 25px;
      @include bp(lg) {
        width: 130px;
        margin-right: 10px;
      }
      @include bp(md) {
        width: 186px;
        margin-right: 25px;
      }
      @include bp(sm) {
        width: 150px;
        margin-right: 15px;
      }
      @include bp(xs) {
        margin-right: 10px;
        width: calc(43.2% - 5px);
      }
      &:hover {
        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
    &.btn-buy {
      width: 220px;
      @include bp(lg) {
        width: 150px;
      }
      @include bp(md) {
        width: 220px;
      }
      @include bp(sm) {
        width: 170px;
      }
      @include bp(xs) {
        width: calc(56.8% - 5px);
        background-color: $yellow;
        color: $main;
      }
      &:hover{
        @include bp(xs) {
          color: #fff;
          background-color: $main;
        }
        svg{
          path{
            @include bp(xs) {
              fill: #fff;
            }
          }
        }
      }
      svg {
        path{
          @include bp(xs) {
            fill: $main;
          }
        }
      }
      &.in-cart {
        background-color: $red;
        &:hover {
          background-color: $main;
        }
      }
      &.not-available {
        background: #F7F7F7;
        &:hover {
          background-color: $main;
          svg {
            path {
              fill: #fff;
            }
          }
        }
      }
    }
  }
}

.product-tabs__wrapper {
  position: relative;
  .anchor{
    position: absolute;
    top: -99px;
    @include bp(md) {
      top: -59px;
    }
  }
  .product-tabs__inner {
    //+ .tabs-content.active {
    //  border-radius: 0 10px 10px 10px;
    //  @include bp(md) {
    //    border-radius: 0 0 10px 10px;
    //  }
    //}

    @include bp(md) {
      overflow: hidden;
    }
    @include bp(xs) {
      width: calc(100% + 30px);
      margin-left: -15px;
    }
  }

  .product-tabs__container {
    position: relative;
    @include bp(md) {
      overflow-x: auto;
      //overflow-y: clip;
    }
    //@include bp(xs) {
    //  width: calc(100% + 15px);
    //}
    @include bp(xs) {
      //width: calc(100% + 30px);
      padding-left: 15px;
    }
    &:after{
      position: absolute;
      content: '';
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 100px);
      bottom: 0;
      height: 1px;
      background-color: $grey;
      @include bp(md) {
        display: none;
      }
    }
    > ul {
      display: flex;
      font-size: 14px;
      line-height: 21px;
      background-color: $bg-grey;
      border-radius: 10px 10px 0 0;
      @include bp(md) {
        position: relative;
        min-width: max-content;
      }
      @include bp(sm) {
        padding-right: 15px;
      }
      @include bp(xs) {
        //padding-right: 30px;
        padding-right: 0;
      }
      &:after{
        position: absolute;
        content: '';
        left: 17px;
        width: calc(100% - 30px);
        bottom: 0;
        height: 1px;
        background-color: $grey;
        display: none;
        @include bp(xs) {
          display: block;
        }
      }
      li {
        display: flex;
        justify-content: center;
        //background-color: $bg-grey;
        //flex: 1 0 auto;
        position: relative;
        z-index: 1;
        text-align: center;
        padding: 43px 50px 30px;
        cursor: pointer;
        color: rgba($main, .5);
        transition: linear .05s;
        @include bp(lg) {
          padding: 30px 40px 24px;
        }
        @include bp(md) {
          min-width: max-content;
        }
        @include bp(sm) {
          padding: 16px 20px 13px;
        }
        @include bp(xs) {
          padding: 20px 13px 17px;
        }
        &:before{
          position: absolute;
          content: '|';
          font-size: 12px;
          line-height: 18px;
          left: 0;
          top: 43px;
          color: rgba($main, .5);
          @include bp(lg) {
            top: 30px;
          }
          @include bp(sm) {
            top: 16px;
          }
          @include bp(xs) {
            top: 22px;
            left: -1px;
          }
        }
        &:hover {
          color: $main;
        }
        &:first-child{
          border-radius: 10px 0 0 0;
          @include bp(xs) {
            padding-left: 17px;
          }
          &:before{
            display: none;
          }
          &.active {
            &:after{
              width: calc(100% - 100px);
              @include bp(lg) {
                width: calc(100% - 80px);
              }
              @include bp(sm) {
                width: calc(100% - 40px);
              }
              @include bp(xs) {
                width: calc(100% - 30px);
                left: 17px;
                transform: none;
              }
            }
          }
        }
        &:last-child{
          border-radius: 0 10px 0 0;
        }
        &.active {
          color: $main;
          position: relative;
          &:after{
            position: absolute;
            content: '';
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            bottom: 0;
            height: 4px;
            background-color: $main;
            @include bp(sm) {
              width: calc(100% - 40px);
            }
            @include bp(xs) {
              width: calc(100% - 26px);
            }
          }
        }
      }
    }
  }
  .tabs-content {
    position: relative;
    z-index: 1;
    display: none;
    padding: 0 50px;
    background-color: $bg-grey;
    border-radius: 0 0 10px 10px;
    @include bp(sm) {
      padding: 0 20px;
    }
    @include bp(xs) {
      width: calc(100% + 30px);
      margin-left: -15px;
      border-radius: 0;
      border-right-width: 0;
      border-left-width: 0;
      padding: 0 15px;
    }
    &:nth-child(2){
      @include bp(xs) {
        width: calc(100% + 15px);
        margin-left: 0;
        padding: 0 30px 0 15px;
      }
    }
    /*&:nth-child(2) {
      @include bp(xs) {
        width: calc(100% + 15px);
        margin-left: 0;
        border-radius: 0 0 0 10px;
        border-left-width: 1px;
        padding-left: 20px;
      }
      &:after {
        position: absolute;
        content: '';
        z-index: 3;
        display: none;
        width: 16px;
        height: 3px;
        bottom: 100%;
        right: 100%;
        background-color: #f1f1f1;
        @include bp(xs) {
          display: block;
        }
      }
    }*/
    &.active {
      display: block;
    }
    /*&:last-child {
      &.active {
        border-radius: 10px 0 10px 10px;
        @include bp(md) {
          border-radius: 0 0 10px 10px;
        }
      }
      @include bp(xs) {
        //border-radius: 0 0 10px 0;
        border-right-width: 1px;
      }
    }*/
    &:after{
      position: absolute;
      content: '';
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 100px);
      top: 0;
      height: 1px;
      background-color: $grey;
      display: none;
      @include bp(md) {
        display: block;
      }
      @include bp(sm) {
        width: calc(100% - 40px);
      }
      @include bp(xs) {
        display: none;
      }
    }
    .tabs-content__description {
      font-size: 16px;
      line-height: 150%;
      padding: 70px 0 60px;
      @include bp(sm) {
        padding: 30px 0 50px;
      }
      @include bp(xs) {
        font-size: 14px;
        padding: 20px 0 40px;
      }
      >*{
        margin-bottom: 24px;
        @include bp(xs) {
          margin-bottom: 20px;
        }
        &:last-child{
          margin-bottom: 0;
        }
        &:first-child{
          margin-top: 0;
        }
      }
      p {
        display: block;
      }
      ul {
        padding-left: 18px;
        list-style-type: disc;
        margin-bottom: 10px;
        li{
          margin-bottom: 20px;
        }
      }
      ol {
        padding-left: 18px;
        list-style-type: decimal;
        margin-bottom: 10px;
      }
      strong{
        font-weight: 500;
      }
      table {
        width: 100%;
        border-radius: 5px;
        font-size: 16px;
        line-height: 150%;
        tr {
          border-bottom: 1px solid rgba($main, 0.1);
          &:last-child {
            border: none;
          }
          td {
            padding: 12px 20px;
          }
        }
        td {
          &:first-child {
            opacity: .5;
            width: 25%;
          }
        }
      }
      >img{
        display: block;
        max-width: 100%;
        object-fit: contain;
        border-radius: 10px;
        overflow: hidden;
        margin: 30px auto;
        @include bp(xs) {
          margin: 0 auto 20px;
          height: calc(89vw - 60px);
          object-fit: cover;
        }
      }
      .accent{
        color: $red;
      }
      .description-pics{
        display: flex;
        margin-top: 30px;
        margin-bottom: 0;
        &.four-pics{
          @include bp(md) {
            overflow: auto;
            width: calc(100% + 50px);
          }
          @include bp(sm) {
            width: calc(100% + 20px);
          }
          @include bp(xs) {
            width: calc(100% + 30px);
          }
          img{
            width: 250px;
            height: 250px;
            @include bp(lg) {
              width: 190px;
              height: 190px;
            }
            @include bp(md) {
              width: 250px;
              height: 225px;
              min-width: 250px;
            }
          }
        }
        img{
          margin: 0 25px 30px 0;
          display: block;
          max-width: 100%;
          object-fit: cover;
          border-radius: 10px;
          overflow: hidden;
          @include bp(xs) {
            margin-right: 10px;
          }
          &:last-child{
            margin-right: 0;
            @include bp(md) {
              margin-right: 25px;
            }
            @include bp(xs) {
              margin-right: 10px;
            }
          }
        }
      }
    }
    .tabs-content__information{
      @include bp(sm) {
        padding: 30px 0 50px;
      }
      @include bp(xs) {
        padding: 20px 0 40px;
      }
    }
    .tabs-content__reviews{
      padding: 27px 0 54px;
      @include bp(sm) {
        padding: 30px 0 50px;
      }
      @include bp(xs) {
        padding: 20px 0 40px;
      }
      .pagination{
        margin-top: 50px;
      }
    }
    .tabs-content__warranty{
      padding: 50px 0 75px;
      font-size: 16px;
      line-height: 150%;
      @include bp(sm) {
        padding: 30px 0 50px;
      }
      @include bp(xs) {
        padding: 20px 0 40px;
        font-size: 14px;
      }
      *{
        &:last-child{
          margin-bottom: 0;
        }
      }
      p{
        margin-bottom: 24px;
        @include bp(xs) {
          margin-bottom: 20px;
        }
      }
      ul{
        margin-bottom: 24px;
        list-style-type: disc;
        padding-left: 18px;
        @include bp(xs) {
          margin-bottom: 20px;
        }
      }
      ol{
        margin-bottom: 24px;
        list-style-type: decimal;
        padding-left: 18px;
        @include bp(xs) {
          margin-bottom: 20px;
        }
      }
    }
    .tabs-content__support{
      padding: 30px 0 60px;
      font-size: 16px;
      line-height: 150%;
      @include bp(sm) {
        padding: 30px 0 50px;
      }
      @include bp(xs) {
        padding: 20px 0 40px;
        font-size: 14px;
      }
      *{
        &:last-child{
          margin-bottom: 0;
        }
      }
      p{
        margin-bottom: 24px;
        @include bp(xs) {
          margin-bottom: 20px;
        }
      }
      ul{
        margin-bottom: 24px;
        list-style-type: disc;
        padding-left: 18px;
        @include bp(xs) {
          margin-bottom: 20px;
        }
      }
      ol{
        margin-bottom: 24px;
        list-style-type: decimal;
        padding-left: 18px;
        @include bp(xs) {
          margin-bottom: 20px;
        }
      }
      .support-attachments{
        list-style-type: none;
        padding-left: 0;
        margin-top: 33px;
        margin-bottom: 0;
        li{
          margin-bottom: 22px;
          &:last-child{
            margin-bottom: 0;
          }
          a{
            display: flex;
            align-items: center;
            font-size: 12px;
            line-height: 150%;
            text-decoration: underline;
            text-transform: uppercase;
            color: $main;
            &:hover{
              color: $red;
              text-decoration: none;
            }
            svg{
              width: 37px;
              min-width: 37px;
              margin-right: 20px;
            }
          }
        }
      }
    }
    .tabs-content__video{
      padding: 50px 0 80px;
      @include bp(sm) {
        padding: 30px 0 50px;
      }
      @include bp(xs) {
        padding: 20px 0 40px;
      }
      .video-wrapper{
        justify-content: center;
        height: 540px;
        margin-bottom: 0;
        @include bp(lg) {
          height: 500px;
        }
        @include bp(md) {
          height: 365px;
        }
        @include bp(sm) {
          height: calc(63vw - 60px);
        }
        @include bp(xs) {
          height: calc(64vw - 30px);
        }
      }
    }
  }
}

/*.product-video__wrapper {
  background-color: #fff;
  padding: 127px 0 138px;
  margin-bottom: 35px;
  @include bp(xs) {
    padding: 27px 0 28px;
    margin-bottom: 15px;
  }
}

.product-video {
  width: 770px;
  height: 450px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
  @include bp(md) {
    width: 100%;
    height: fit-content;
  }

  &:hover {
    &:after {
      background-color: rgba(0, 0, 0, 0.3);
    }

    svg {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }

  picture {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:after {
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: linear .2s;
  }

  svg {
    position: absolute;
    z-index: 2;
    transition: linear .2s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.section-bestsellers {
  &.product-page__bestsellers {
    overflow: hidden;
    padding: 0;
    padding-top: 20px;

    + .product-page__bestsellers {
      padding-top: 0;
    }

    @include bp(xs) {
      margin-bottom: 20px;
    }
  }
}*/

.lg-download {
  display: none;
}

.customer-reviews__wrapper{
  position: relative;
  background-color: $bg-grey;
  padding: 84px 0 87px;
  @include bp(xs) {
    padding: 30px 0 56px;
  }
  .anchor{
    position: absolute;
    top: -99px;
    @include bp(md) {
      top: -59px;
    }
  }
}

.customer-reviews__top{
  background-color: #fff;
  border-radius: 10px;
  padding: 27px 45px 21px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  @include bp(sm) {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 30px;
  }
  @include bp(xs) {
    padding: 22px 15px 30px;
    margin-bottom: 15px;
  }
}

.customer-reviews__info{
  width: 354px;
  max-width: 100%;
  margin-right: 30px;
  @include bp(sm) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  @include bp(xs) {
    margin-bottom: 18px;
  }
}

.customer-reviews__title{
  display: block;
  font-family: $title;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 4px;
  @include bp(xs) {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
  }
}

.customer-reviews__rating{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 11px;
  line-height: 17px;
  color: rgba($main, .5);
  @include bp(xs) {
    margin-bottom: 10px;
  }
  .rating-stars{
    margin-right: 9px;
    @include bp(xs) {
      margin-right: 13px;
    }
  }
  >span{
    margin-right: 8px;
    @include bp(xs) {
      margin-right: 23px;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}

.customer-reviews__btn-add{
  width: 160px;
  height: 35px;
  margin-bottom: 23px;
  @include bp(xs) {
    margin-bottom: 21px;
  }
}

.customer-reviews__item-title{
  font-size: 12px;
  line-height: 18px;
  color: rgba($main, .5);
}

.customer-reviews__stats{
  min-width: 290px;
  @include bp(xs) {
    min-width: 258px;
  }
  >li{
    font-size: 11px;
    line-height: 17px;
    color: rgba($main, .5);
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    @include bp(xs) {
      margin-bottom: 4px;
    }
    &:last-child{
      margin-bottom: 0;
    }
    .rating-stars{
      margin-right: 12px;
    }
    .rating-progress{
      width: 130px;
      height: 15px;
      margin-right: 11px;
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      @include bp(xs) {
        width: 106px;
        height: 10px;
        margin-right: 15px;
      }
      &:before{
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        border: 1px solid $grey;
        border-radius: 5px;
        width: 100%;
        height: 100%;
      }
      span{
        height: 100%;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
      }
    }
    .rating-percent{
      width: 30px;
      margin-right: 10px;
    }
  }
}

.customer-reviews__item{
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 50px;
  @include bp(sm) {
    padding: 25px 30px;
  }
  @include bp(xs) {
    padding: 28px 15px 30px;
    margin-bottom: 15px;
  }
}

.customer-reviews__item-top{
  display: flex;
  align-items: flex-end;
  margin-bottom: 13px;
  position: relative;
  @include bp(xs) {
    align-items: center;
    margin-bottom: 18px;
  }
  .rating-stars{
    margin-left: auto;
    margin-right: 22px;
    padding-bottom: 12px;
    @include bp(xs) {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 10px;
      padding-bottom: 10px;
    }
  }
}

.customer-reviews__item-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  min-width: 50px;
  height: 50px;
  background: #D9D9D9;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba($main, .5);
  margin-right: 28px;
  @include bp(xs) {
    margin-right: 18px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.customer-reviews__item-user{
  >div{
    font-size: 14px;
    line-height: 21px;
  }
  >span{
    display: block;
    margin-top: 2px;
    font-size: 12px;
    line-height: 18px;
    color: rgba($main, .5);
    @include bp(xs) {
      margin-top: 0;
    }
  }
}

.customer-reviews__item-text{
  font-size: 14px;
  line-height: 21px;
  color: rgba($main, .5);
  >*{
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.customer-reviews__item-pics{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: -20px;
  @include bp(xs) {
    margin-top: 20px;
    margin-bottom: -13px;
    margin-right: -13px;
  }
  >div{
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    width: 130px;
    height: 160px;
    @include bp(xs) {
      width: 120px;
      height: 140px;
      margin-right: 13px;
      margin-bottom: 13px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.customer-reviews__btn{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $main;
  background-color: $grey;
  text-decoration: none;
  @include bp(xs) {
    margin-top: 20px;
  }
  &:hover{
    text-decoration: none;
    color: $red;
    svg{
      path{
        fill: $red;
      }
    }
  }
  svg{
    width: 10px;
    height: 10px;
    margin-left: 12px;
  }
}

.product-related{
  padding: 90px 0 50px;
  @include bp(xs) {
    padding: 41px 0 35px;
  }
  .bestsellers-slider__wrapper{
    border-bottom: none;
    &:after{
      @include bp(xs) {
        display: none;
      }
    }
    +.bestsellers-slider__wrapper{
      margin-top: 15px;
    }
  }
}
