.reviews-top{
  .container{
    position: relative;
  }
  .breadcrumbs-wrapper{
    @include bp(xs) {
      margin-bottom: -14px;
    }
  }
  .btn{
    width: 207px;
    border-color: #fff;
    color: #fff;
    position: absolute;
    right: 15px;
    bottom: 36px;
    @include bp(xs) {
      width: 130px;
      height: 40px;
      padding: 0 10px;
      right: 20px;
      bottom: 18px;
    }
    &:hover{
      color: $main;
      background-color: #fff;
    }
  }
}

.page-reviews{
  background-color: $bg-grey;
  padding: 50px 0 60px;
  @include bp(xs) {
    padding: 30px 0 50px;
  }
  .pagination{
    margin-top: 70px;
    @include bp(xs) {
      margin-top: 40px;
    }
  }
}

.page-reviews__item{
  background-color: #fff;
  border-radius: 5px;
  padding: 23px 33px 20px 25px;
  @include bp(xs) {
    padding: 21px 25px 16px 23px;
  }
  +.page-reviews__item{
    margin-top: 20px;
  }
}

.page-reviews__item-text{
  margin-top: 11px;
  font-size: 14px;
  line-height: 130%;
  @include bp(xs) {
    margin-top: 10px;
  }
  >*{
    margin-bottom: 14px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.page-reviews__item-bot{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 18px;
  font-size: 12px;
  line-height: 18px;
  color: rgba($main, .5);
}




