// Переменные для приложения и всех модулей

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$formBorder: none;
$formBorderRadius: 0;
$inputBorderRadius: 0;

$default: 'Prompt', -apple-system, BlinkMacSystemFont, sans-serif;
$title: 'Nokora', -apple-system, BlinkMacSystemFont, sans-serif;
$menu: 'Unbounded', -apple-system, BlinkMacSystemFont, sans-serif;

$main: #1C3557;
$red: #E1437C;
$yellow: #FEB634;
$bg-grey: #FAF9FA;
$blue: #0B4899;
$grey: #EFECED;


