@import 'variables';
@import 'vendor';
@import 'fonts';
@import 'mixin';

body {
  min-width: 320px;
  color: $main;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
  background-color: #fff;
  font-family: $default;
  font-weight: 400;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  @include bp(md) {
    display: block;
  }

  &.fixed-header {
    .overlay {
      top: 50px;
    }

    .cat-menu {
      max-height: calc(100vh - 80px);
    }

    .main-submenu {
      > div {
        top: 83px;
      }
    }
  }

  &.show-tel {
    overflow: hidden;

    .header-mob__phone.show-phone {
      svg path {
        fill: $red;
      }
    }

    .header-mob__phones {
      ul {
        opacity: 1;
        visibility: visible;
      }
    }

    .overlay {
      visibility: visible;
      opacity: 1;
      z-index: 997;
    }
  }

  &.open-mobile-menu {
    overflow: hidden;
    .header{
      &-home{
        background: #fff;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        &:after{
          background-color: $main;
        }
        .header-menu {
          > li {
            &.has-children {
              &:hover {
                > a {
                  color: $red;
                  svg {
                    path{
                      fill: $red;
                    }
                    &:last-child{
                      path{
                        stroke: $red;
                      }
                    }
                  }
                }
              }
              &.current {
                svg{
                  path{
                    fill: $red;
                  }
                  &:last-child{
                    path{
                      stroke: $red;
                    }
                  }
                }
              }
            }
            &.current {
              > a {
                color: $red;
                svg {
                  path{
                    fill: $red;
                  }
                }
              }
            }
            > a {
              color: $main;
              svg {
                path{
                  fill: $main;
                }
              }
              &:hover {
                color: $red;
                svg {
                  path{
                    fill: $red;
                  }
                }
              }
            }
          }
        }
        .header-search__btn{
          color: $main;
          svg {
            path{
              fill: $main;
            }
          }
          &:hover{
            color: $red;
            svg{
              path{
                fill: $red;
              }
            }
          }
        }
        .header-cart {
          a {
            color: $main;
            svg {
              path{
                fill: $main;
              }
            }
            &:hover {
              color: $red;
              svg{
                path{
                  fill: $red;
                }
              }
            }
          }
        }
      }
    }
  }

  &.mm-lvl2 {
    .mobile-menu__search {
      z-index: 1;
    }
  }

  &.open-menu {
    .overlay {
      visibility: visible;
      opacity: 1;
      z-index: 997;
    }
  }

  &.sumoStopScroll {
    overflow: unset;
  }

  &.open-search-results {
    .overlay {
      visibility: visible;
      opacity: 1;
      z-index: 997;
    }

    .mobile-menu {
      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &.filters-opened {
    @media (max-width: 390px) {
      overflow: hidden;
    }

    .overlay {
      top: 0;
      z-index: 1001;
      opacity: 1;
      visibility: visible;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      transition: opacity linear .3s, visibility .3s;
    }
  }

  @media (min-height: 700px) {
    &.mfp-open {
      &.fixed-header {
        .mfp-bg, .mfp-wrap {
          top: 49px;
        }
      }

      .mfp-bg, .mfp-wrap {
        top: 119px;
      }

      .mfp-content {
        vertical-align: top;
        margin: 80px auto 0;
      }

      .header {
        z-index: 1046;
      }

      .overlay {
        z-index: 1045;
      }
    }
    &.swal2-shown {
      &.fixed-header {
        .swal2-container {
          top: 49px;
        }
      }

      .swal2-container {
        top: 119px;
      }

      .swal2-modal {
        margin-top: 80px !important;
      }

      .header {
        z-index: 1062;
      }

      .overlay {
        z-index: 1061;
      }
    }
  }
}


ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*, a, .slick-slide {
  outline: none;
  box-shadow: none;
  &:focus {
    outline: none;
  }
}

a {
  transition: 0.2s linear;
  &:hover {
    text-decoration: none;
  }
  &:not([class]) {
    color: $main;
    text-decoration: none;
    &:hover {
      color: $red;
    }
  }
}

svg {
  * {
    transition: linear 0.2s;
  }
}

main {
  position: relative;
  flex: 1 0 auto;
}

.overlay {
  visibility: hidden;
  opacity: 0;
  transition: linear .3s;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: rgba(28, 53, 87, 0.7);
  @include bp(md) {
    top: 50px;
  }
}

.section {
  clear: both;
  transition: linear .3s;
}

.container, .row {
  &:before, &:after {
    display: none;
  }
}

.container {
  width: 1200px;
  max-width: calc(100% - 60px);
  @include bp(md) {
    max-width: calc(100% - 30px);
  }
  @include bp(sm) {
    width: 100%;
    max-width: 100%;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: normal;
  width: 100%;
  height: 50px;
  background: $main;
  color: #fff;
  border-radius: 300px;
  font-family: $default;
  font-weight: 400;
  font-size: 16px;
  padding: 0 15px;
  transition: linear .2s;
  cursor: pointer;
  outline: none !important;
  box-shadow: none;
  @include bp(xs) {
    height: 45px;
    font-size: 14px;
  }
  &:focus,
  &:hover {
    outline: none !important;
    box-shadow: none;
  }
  &:hover {
    background: $red;
    color: #fff;
  }
  &.btn-lg {
    height: 60px;
    font-size: 21px;
    @include bp(xs) {
      height: 45px;
      font-size: 14px;
    }
  }
  &.btn-y {
    background-color: $yellow;
    color: $main;
    &:hover {
      background-color: $red;
      color: #fff;
    }
  }
  &.btn-w {
    background-color: #fff;
    color: $main;
    &:hover {
      background-color: $main;
      color: #fff;
    }
  }
  &.btn-tr {
    border: 1px solid $main;
    background-color: transparent;
    color: $main;
    &:hover {
      background-color: $main;
      color: #fff;
    }
  }
}

.input,
.textarea {
  &:focus {
    &::-webkit-input-placeholder {
      color: transparent !important;
    }

    &::-moz-placeholder {
      color: transparent !important;
    }

    &:-ms-input-placeholder {
      color: transparent !important;
    }

    &:-moz-placeholder {
      color: transparent !important;
    }
  }
}

.input-wrapper {
  position: relative;
  &.focus{
    .input{
      border-color: $main;
      +label{
        font-size: 10px;
        line-height: 15px;
        top: 8px;
        @include bp(xs) {
          font-size: 10px;
          line-height: 15px;
          top: 4px;
        }
      }
    }
  }
  &.filled{
    .input{
      border-color: $main;
      +label{
        font-size: 10px;
        line-height: 15px;
        top: 8px;
        @include bp(xs) {
          font-size: 10px;
          line-height: 15px;
          top: 4px;
        }
      }
    }
  }
  &.err {
    .input, .textarea {
      border-color: $red;
      background-color: #fff;
      color: transparent;

      &::placeholder {
        color: transparent !important;
      }
    }
  }
  .validate-error {
    color: $red;
    font-size: 12px;
    left: 15px;
    top: 12px;
    text-align: left;
    padding: 0;
    transform: none;
    z-index: 2;
    pointer-events: none;
    font-family: $default;
    background-color: #fff;
  }
}

.checkbox-wrapper{
  display: flex;
  input{
    display: none;
    &:checked{
      +label{
        &:before{
          background: $main;
        }
        &:after{
          display: block;
        }
      }
    }
    +label{
      margin-bottom: 0;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      padding-left: 29px;
      position: relative;
      cursor: pointer;
      color: rgba($main, .5);
      &:before{
        position: absolute;
        content: '';
        width: 13px;
        height: 13px;
        background: transparent;
        border: 1px solid $main;
        border-radius: 2px;
        left: 0;
        top: 3px;
      }
      &:after{
        display: none;
        content: '';
        width: 7px;
        height: 5px;
        -webkit-mask: url("../images/icons/checkmark.svg");
        mask: url("../images/icons/checkmark.svg");
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        background-color: #fff;
        left: 3px;
        top: 7.5px;
        position: absolute;
      }
      a{
        color: $main;
        text-decoration: underline;
        &:hover{
          color: $red;
          text-decoration: none;
        }
      }
    }
  }
}

.input {
  background-color: #fff;
  width: 100%;
  height: 50px;
  border: 1px solid rgba($main, .2);
  border-radius: 5px;
  outline: none !important;
  box-shadow: none !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 19px 20px 10px 20px;
  color: $main;
  -webkit-appearance: none;
  appearance: none;
  @include bp(xs) {
    height: 40px;
    font-size: 14px;
    padding: 15px 15px 4px 15px;
  }
  +label{
    margin-bottom: 0;
    font-weight: 400;
    color: rgba($main, .5);
    font-size: 14px;
    line-height: 21px;
    position: absolute;
    left: 20px;
    top: 15px;
    transition: ease-in-out .3s;
    pointer-events: none;
    @include bp(xs) {
      font-size: 12px;
      line-height: 18px;
      left: 15px;
      top: 11px;
    }
  }
  @supports (-webkit-touch-callout: none) {
    font-size: 16px;
  }
  &:focus {
    @supports (-webkit-touch-callout: none) {
      font-size: 16px;
    }
  }
}

.textarea {
  display: block;
  background-color: #fff;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #fff;
  outline: none !important;
  box-shadow: none !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 15px;
  color: $main;
  resize: none;
  height: 90px;
  -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
  overflow-y: auto;
  @supports (-webkit-touch-callout: none) {
    font-size: 16px;
  }

  &:focus {
    @supports (-webkit-touch-callout: none) {
      font-size: 16px;
    }
  }

  &::-webkit-scrollbar {
    overflow-y: scroll;
    background: transparent;
    width: 3px;
    transition: linear .2s;
    box-shadow: 1px 0 0 transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $main;
    border-radius: 0;
    width: 1px;
    transition: linear .2s;
    cursor: grab;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:hover {
  -webkit-text-fill-color: $main;
  -webkit-box-shadow: inset 0 0 0 1000px transparent;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: $main;
}

::selection {
  background: rgba($accent, .35);
  color: #fff;
  text-shadow: none;
}

// Header
@import 'header';

@import 'main/section-1';
@import 'main/section-2';
@import 'main/section-3';
@import 'main/section-4';
@import 'main/section-5';
@import 'main/section-6';
@import 'main/section-7';
@import 'main/section-8';
@import 'main/section-9';
@import 'main/section-10';
@import 'main/section-11';

// Footer
@import 'footer';

// Breadcrumbs
@import 'breadcrumbs';

// Pagination
@import 'pagination';

// Popup
@import 'popup';

// Pages

@import 'catalog';
@import 'search-page';
@import 'product';
@import '404';
@import 'blog';
@import 'return';
@import 'contacts';
@import 'reviews';
@import 'delivery-payment';
@import 'warranty';
@import 'about';
@import 'faq';
@import 'checkout';
@import 'no-goods';
@import 'thank-you';

// Parts

@import 'club';
